<% @star_id %>
<% @id_check %>

<div class="hid">


	<%= form_for @tag do |t| %>

		<div><%= t.text_field :user_id, value: current_user.id %></div>
		<div><%= t.text_field :star_id %></div>
		<div><%= t.submit %></div>


	<% end %>


</div>


<div>
	
	<input type="text" name="" id="id_value"><input type="submit" name="" value="SEARCH" id="sub_search">

	<script>

		var user_obj = new Object()

		var search = document.getElementById("sub_search")

		search.addEventListener("click", function(){

			var userId = document.getElementById("id_value").value

			<% User.all.each do |u| %>

				if (userId == "<%= u.id %>" ){

					tag_star_id.value = userId

				}


			<% end %>

	

		})



	</script>



</div>

<% current_user.tags.each do |t| %>

	<%= t.star_id %>


<% end %>


