<% @test = [] %>
<% @home_team %>
<% @road_team %>

<% @home_team_all_games = [] %>
<% @home_team_home_games = [] %>
<% @home_vs_opp = [] %>
<% @home_vs_pitcher = [] %>
<% @home_last_ten = [] %>

<% @road_team_all_games = [] %>
<% @road_team_road_games = [] %>
<% @road_vs_opp = [] %>
<% @road_vs_pitcher = [] %>
<% @road_last_ten = [] %>


<% self.define_home_away %>
<% self.get_home_game_logs %>
<% self.get_away_game_logs %>




<%= @home_team.matchup_abbr %>
<%= @road_team.matchup_abbr %>

<% @home_innings %>
<% @home_runs_scored %>
<% @home_runs_against %>
<% @home_hits_for %>
<% @home_hits_against %>
<% @home_all_starters_pitches %>
<% @home_all_bullpen_pitches %>
<% @home_pitches_total %>
<% @home_at_bats_total %>
<% @home_at_bats_per_nine %>
<% @home_errors %>
<% @home_all_opp_starter_pitches %>
<% @home_all_opp_bullpen_pitches %>
<% @home_all_opp_pitches %>

<% @road_innings %>
<% @road_runs_scored %>
<% @road_runs_against %>
<% @road_hits_for %>
<% @road_hits_against %>
<% @road_all_starters_pitches %>
<% @road_all_bullpen_pitches %>
<% @road_pitches_total %>
<% @road_at_bats_total %>
<% @road_at_bats_per_nine %>
<% @road_errors %>
<% @road_all_opp_starter_pitches %>
<% @road_all_opp_bullpen_pitches %>
<% @road_all_opp_pitches %>

<% self.load_home_team_stats(@home_team) %>
<% self.load_road_team_stats(@road_team) %>

<div id="matchup_edit_banner"><%= @home_team.matchup_abbr + " " + @matchup.fav_ml + " vs " + @road_team.matchup_abbr + " " + @matchup.dog_ml %> </div>

<div id="matchup_edit_cont">
	
	<div class="matchup_stats">

		<div>
			
			<div id="overall_nums"></div>

		</div>
		<div>
			

		</div>
		<div>
			

		</div>
		


	</div>
	<div class="matchup_stats">
		


	</div>





</div>

<% @home_opp_starter_workload = ((@home_all_opp_starter_pitches.to_f / @home_all_opp_pitches) * 100).round(2).to_s + "%" %>

<% @home_opp_bull_pen_freq = 100.0 - @home_opp_starter_workload.to_f %>

<% @home_pitches_forced_per_9 = ((@home_all_opp_pitches.to_f / @home_innings) * 9).round(1) %>

<% @home_runs_scored_per_pitch = (@home_runs_scored.to_f / @home_all_opp_pitches.to_f).round(3) %>

<% @home_bull_pen_freq = 100 - ((@home_all_starters_pitches.to_f / @home_pitches_total) * 100).round(2) %>

<% @home_runs_against_per_pitch = (@home_runs_against.to_f / @home_pitches_total.to_f).round(3) %>

<% @home_runs_per_hit = (@home_hits_for.to_f / @home_runs_scored.to_f).round(2) %>

<% @home_opp_runs_per_hit = (@home_hits_against.to_f / @home_runs_against.to_f).round(2) %>

<div style="font-size: 20px;"><%= @home_team.matchup_abbr + " Offensive Analysis" %></div>

<div>Innings Played: <%= @home_innings %></div>
<div>Total At-Bats: <%= @home_at_bats_total %></div>
<div>At-Bats Per Nine Innings: <%= (@home_at_bats_total.to_f / @home_innings) * 9 %></div>
<div>Runs For: <%= @home_runs_scored %></div>
<div>Hits For: <%= @home_hits_for %></div>
<div>Pitches Faced Opp Starters: <%= @home_all_opp_starter_pitches %></div>
<div>Pitches Faced Opp Bullpen: <%= @home_all_opp_bullpen_pitches %></div>
<div>Total Pitches Faced: <%= @home_all_opp_pitches %>

<div>Pitches Forced Per Nine Innings: <%= @home_pitches_forced_per_9 %> </div>

<div>Opp Starter Workload Per Game: <%= @home_opp_starter_workload %></div>

<div>Opp Bullpen Workload Per Game:<%= @home_opp_bull_pen_freq %> </div>

<div>Runs Per At-Bat: <%= (@home_runs_scored.to_f / @home_at_bats_total).round(2) %></div>

<div>Runs Scored Per Pitch: <%= @home_runs_scored_per_pitch %></div>

<div>HIT:RUN Ratio: <%= @home_runs_per_hit %></div>


<div style="font-size: 20px; margin-top: 20px;"><%= @home_team.matchup_abbr + " Pitching Analysis" %></div>

<div>Pitches By Team Starters: <%= @home_all_starters_pitches %></div>
<div>Pitches By Team Bullpen: <%= @home_all_bullpen_pitches %></div>
<div>Total Pitches: <%= @home_pitches_total %></div>
<div>Starter Workload: <%= ((@home_all_starters_pitches.to_f / @home_pitches_total) * 100).round(2).to_s + "%" %></div>
<div>Bullpen Workload: <%= @home_bull_pen_freq.to_s + "%" %></div>

<div>Hits Against:<%= @home_hits_against %></div> 

<div>Runs Against: <%= @home_runs_against %></div>

<div>Opp Runs Per Pitch: <%= @home_runs_against_per_pitch %></div>

<div>OPP HIT:RUN Ratio: <%= @home_opp_runs_per_hit %></div>


<% @road_opp_starter_workload = ((@road_all_opp_starter_pitches.to_f / @road_all_opp_pitches) * 100).round(2).to_s + "%" %>

<% @road_opp_bull_pen_freq = 100.0 - @road_opp_starter_workload.to_f %>

<% @road_pitches_forced_per_9 = ((@road_all_opp_pitches.to_f / @road_innings) * 9).round(1) %>

<% @road_runs_scored_per_pitch = (@road_runs_scored.to_f / @road_all_opp_pitches.to_f).round(3) %>

<% @road_bull_pen_freq = 100 - ((@road_all_starters_pitches.to_f / @road_pitches_total) * 100).round(2) %>

<% @road_runs_against_per_pitch = (@road_runs_against.to_f / @road_pitches_total.to_f).round(3) %>

<% @road_runs_per_hit = (@road_hits_for.to_f / @road_runs_scored.to_f).round(2) %>

<% @road_opp_runs_per_hit = (@road_hits_against.to_f / @road_runs_against.to_f).round(2) %>

<div style="font-size: 20px;"><%= @road_team.matchup_abbr + " Offensive Analysis" %></div>

<div>Innings Played: <%= @road_innings %></div>
<div>Total At-Bats: <%= @road_at_bats_total %></div>
<div>At-Bats Per Nine Innings: <%= (@road_at_bats_total.to_f / @road_innings).round(2) * 9 %></div>
<div>Runs For: <%= @road_runs_scored %></div>
<div>Hits For: <%= @road_hits_for %></div>
<div>Pitches Faced By Opp Starters: <%= @road_all_opp_starter_pitches %></div>
<div>Pitches Faced By Opp Bullpen: <%= @road_all_opp_bullpen_pitches %></div>
<div>Total Pitches Faced: <%= @road_all_opp_pitches %>

<div>Pitches Forced Per Nine Innings: <%= @road_pitches_forced_per_9 %> </div>

<div>Opp Starter Workload Per Game: <%= @road_opp_starter_workload %></div>

<div>Opp Bullpen Workload Per Game:<%= @road_opp_bull_pen_freq %> </div>

<div>Runs Per At-Bat: <%= (@road_runs_scored.to_f / @road_at_bats_total).round(2) %></div>

<div>Runs Scored Per Pitch: <%= @road_runs_scored_per_pitch %></div>

<div>HIT:RUN Ratio: <%= @road_runs_per_hit %></div>


<div style="font-size: 20px; margin-top: 20px;"><%= @road_team.matchup_abbr + " Pitching Analysis" %></div>

<div>Pitches By Team Starters: <%= @road_all_starters_pitches %></div>
<div>Pitches By Team Bullpen: <%= @road_all_bullpen_pitches %></div>
<div>Total Pitches: <%= @road_pitches_total %></div>
<div>Starter Workload: <%= ((@road_all_starters_pitches.to_f / @road_pitches_total) * 100).round(2).to_s + "%" %></div>
<div>Bullpen Workload: <%= @road_bull_pen_freq.to_s + "%" %></div>

<div>Hits Against:<%= @road_hits_against %></div> 

<div>Runs Against: <%= @road_runs_against %></div>

<div>Opp Runs Per Pitch: <%= @road_runs_against_per_pitch %></div>

<div>OPP HIT:RUN Ratio: <%= @road_opp_runs_per_hit %></div>


