<% @test = [] %>
<% @test2 = [] %>
<% @test3 = [] %>
<% @test4 = [] %>
<% @test5 = [] %>
<% @test6 = [] %>
<% @nl_pitchers = [] %>
<% @pitchers_and_ratings = [] %>
<% @runs_per = [] %>
<% @pitchers_in_matchup = [] %>
<% @home_team %>
<% @road_team %>
<% @home_spread %>
<% @road_spread %>


<% @home_team_all_games = [] %>
<% @home_team_home_games = [] %>
<% @home_vs_opp = [] %>
<% @home_vs_pitcher = [] %>
<% @home_with_pitcher = [] %>
<% @home_last_ten = [] %>

<% @road_team_all_games = [] %>
<% @road_team_road_games = [] %>
<% @road_vs_opp = [] %>
<% @road_vs_pitcher = [] %>
<% @road_with_pitcher = [] %>
<% @road_last_ten = [] %>

<% @home_all_stats %>
<% @home_home_stats %>
<% @home_opp_stats %>
<% @home_pitcher_stats %>
<% @home_with_pitcher_stats %>
<% @home_last_ten_stats %>

<% @road_all_stats %>
<% @road_road_stats %>
<% @road_opp_stats %>
<% @road_pitcher_stats %>
<% @road_with_pitcher_stats %>
<% @road_last_ten_stats %>


<% self.define_home_away %>
<% self.get_home_game_logs %>
<% self.get_away_game_logs %>






<% self.compute_stats(@home_team_all_games) %></div>
<% self.compute_stats(@home_team_home_games) %></div>
<% self.compute_stats(@home_vs_opp) %></div>
<% self.compute_stats(@home_vs_pitcher) %></div>
<% self.compute_stats(@home_with_pitcher) %></div>
<% self.compute_stats(@home_last_ten) %>

<% self.compute_stats(@road_team_all_games) %></div>
<% self.compute_stats(@road_team_road_games) %></div>
<% self.compute_stats(@road_vs_opp) %></div>
<% self.compute_stats(@road_vs_pitcher) %></div>
<% self.compute_stats(@road_with_pitcher) %></div>
<% self.compute_stats(@road_last_ten) %>

<% self.compute_stats(@home_team_all_games) %></div>





<div class="matchup_edit_banner"><%= @home_team.matchup_abbr + " " + @home_spread + " vs " + @road_team.matchup_abbr + " " + @road_spread %></div>

<div class="matchup_edit_banner">PITCHERS: <%= @home_team.matchup_abbr.upcase + " " + @matchup.home_pitcher + " " + " " + @road_team.matchup_abbr.upcase + " " + @matchup.away_pitcher %></div>

<div id="matchup_edit_cont">
	
	<div class="matchup_stats" style="background: gray; color: white;">

		<div class="stat_cont">

			<div class="stat_label"><%= @road_team.matchup_abbr.upcase + " RUNS FOR" %></div>

			<div class="stat_data"><%= "Last " + @road_team_all_games.length.to_s + " " + "Games: " + @road_all_stats[:runs_per_game].to_s %></div>

			<div class="stat_data"><%= "ON THE ROAD: " + @road_road_stats[:runs_per_game].to_s + " (" + @road_team_road_games.length.to_s + " " + "gm/s" + ')' %></div>

			<div class="stat_data"><%= "Vs. " + @home_team.matchup_abbr.upcase + ": " + @road_opp_stats[:runs_per_game].to_s + " (" + @road_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @matchup.home_pitcher.upcase + ": " + @road_pitcher_stats[:runs_per_game].to_s + " (" + @road_vs_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "WITH " + @matchup.away_pitcher.upcase + ": " + @road_with_pitcher_stats[:runs_per_game].to_s + " (" + @road_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @road_last_ten_stats[:runs_per_game].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @home_team.matchup_abbr.upcase + " RUNS AGAINST" %></div>

			<div class="stat_data"><%= "Last " + @home_team_all_games.length.to_s + " " + "Games: " + @home_all_stats[:runs_against_per_game].to_s %></div>

			<div class="stat_data"><%= "AT HOME: " + @home_home_stats[:runs_against_per_game].to_s + " (" + @home_team_home_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @road_team.matchup_abbr.upcase + ": " + @home_opp_stats[:runs_against_per_game].to_s + " (" + @home_vs_opp.length.to_s + " " + "gm/s)" %></div>


			<div class="stat_data"><%= "WITH " + @matchup.home_pitcher.upcase + ": " + @home_with_pitcher_stats[:runs_against_per_game].to_s + " (" + @home_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @home_last_ten_stats[:runs_against_per_game].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @road_team.matchup_abbr.upcase + " RUNS AGAINST" %></div>

			<div class="stat_data"><%= "Last " + @road_team_all_games.length.to_s + " " + "Games: " + @road_all_stats[:runs_against_per_game].to_s %></div>

			<div class="stat_data"><%= "ON THE ROAD: " + @road_road_stats[:runs_against_per_game].to_s + " (" + @road_team_road_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @home_team.matchup_abbr.upcase + ": " + @road_opp_stats[:runs_against_per_game].to_s + " (" + @road_vs_opp.length.to_s + " " + "gm/s)" %></div>


			<div class="stat_data"><%= "WITH " + @matchup.away_pitcher.upcase + ": " + @road_with_pitcher_stats[:runs_against_per_game].to_s + " (" + @road_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @road_last_ten_stats[:runs_against_per_game].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @home_team.matchup_abbr.upcase + " RUNS FOR" %></div>

			<div class="stat_data"><%= "Last " + @home_team_all_games.length.to_s + " " + "Games: " + @home_all_stats[:runs_per_game].to_s %></div>

			<div class="stat_data"><%= "AT HOME: " + @home_home_stats[:runs_per_game].to_s + " (" + @home_team_home_games.length.to_s + " " + "gm/s" + ')' %></div>

			<div class="stat_data"><%= "Vs. " + @road_team.matchup_abbr.upcase + ": " + @home_opp_stats[:runs_per_game].to_s + " (" + @home_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @matchup.away_pitcher.upcase + ": " + @home_pitcher_stats[:runs_per_game].to_s + " (" + @home_vs_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "WITH " + @matchup.home_pitcher.upcase + ": " + @home_with_pitcher_stats[:runs_per_game].to_s + " (" + @home_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @home_last_ten_stats[:runs_per_game].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @road_team.matchup_abbr.upcase + " RUN DIFFERENTIAL" %></div>

			<div class="stat_data"><%= "Last " + @road_team_all_games.length.to_s + " " + "Games: " + @road_all_stats[:run_diff].to_s %></div>

			<div class="stat_data"><%= "ON THE ROAD: " + @road_road_stats[:run_diff].to_s + " (" + @road_team_road_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @home_team.matchup_abbr.upcase + ": " + @road_opp_stats[:run_diff].to_s + " (" + @road_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @matchup.home_pitcher.upcase + ": " + @road_pitcher_stats[:run_diff].to_s + " (" + @road_vs_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "WITH " + @matchup.away_pitcher.upcase + ": " + @road_with_pitcher_stats[:run_diff].to_s + " (" + @road_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @road_last_ten_stats[:run_diff].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @home_team.matchup_abbr.upcase + " RUN DIFFERENTIAL" %></div>

			<div class="stat_data"><%= "Last " + @home_team_all_games.length.to_s + " " + "Games: " + @home_all_stats[:run_diff].to_s %></div>

			<div class="stat_data"><%= "AT HOME: " + @home_home_stats[:run_diff].to_s + " (" + @home_team_home_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @road_team.matchup_abbr.upcase + ": " + @home_opp_stats[:run_diff].to_s + " (" + @home_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @matchup.away_pitcher.upcase + ": " + @home_pitcher_stats[:run_diff].to_s + "(" + @home_vs_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "WITH " + @matchup.home_pitcher.upcase + ": " + @home_with_pitcher_stats[:run_diff].to_s + " (" + @home_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @home_last_ten_stats[:run_diff].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @road_team.matchup_abbr.upcase + " RECORD" %></div>

			<div class="stat_data"><%= "Last " + @road_team_all_games.length.to_s + " " + "Games: " + @road_all_stats[:record].to_s %></div>

			<div class="stat_data"><%= "ON THE ROAD: " + @road_road_stats[:record].to_s + " (" + @road_team_road_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @home_team.matchup_abbr.upcase + ": " + @road_opp_stats[:record].to_s + " (" + @road_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @matchup.home_pitcher.upcase + ": " + @road_pitcher_stats[:record].to_s + " (" + @road_vs_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "WITH " + @matchup.away_pitcher.upcase + ": " + @road_with_pitcher_stats[:record].to_s + " (" + @road_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @road_last_ten_stats[:record].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @home_team.matchup_abbr.upcase + " RECORD" %></div>

			<div class="stat_data"><%= "Last " + @home_team_all_games.length.to_s + " " + "Games: " + @home_all_stats[:record].to_s %></div>

			<div class="stat_data"><%= "AT HOME: " + @home_home_stats[:record].to_s + " (" + @home_team_home_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @road_team.matchup_abbr.upcase + ": " + @home_opp_stats[:record].to_s + " (" + @home_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @matchup.away_pitcher.upcase + ": " + @home_pitcher_stats[:record].to_s + " (" + @home_vs_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "WITH " + @matchup.home_pitcher.upcase + ": " + @home_with_pitcher_stats[:record].to_s + " (" + @home_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @home_last_ten_stats[:record].to_s %></div>
		</div>	

		<div class="stat_cont">

			<div class="stat_label"><%= @road_team.matchup_abbr.upcase + " OPP PITCHES/GAME" %></div>

			<div class="stat_data"><%= "Last " + @road_team_all_games.length.to_s + " " + "Games: " + @road_all_stats[:pitches_seen_per_game].to_s %></div>

			<div class="stat_data"><%= "ON THE ROAD: " + @road_road_stats[:pitches_seen_per_game].to_s + " (" + @road_team_road_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @home_team.matchup_abbr.upcase + ": " + @road_opp_stats[:pitches_seen_per_game].to_s + " (" + @road_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.home_pitcher.upcase + ": " + @road_pitcher_stats[:pitches_seen_per_game].to_s + " (" + @road_vs_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @road_last_ten_stats[:pitches_seen_per_game].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @home_team.matchup_abbr.upcase + " PITCHES/GAME" %></div>

			<div class="stat_data"><%= "Last " + @home_team_all_games.length.to_s + " " + "Games: " + @home_all_stats[:pitches_thrown_per_game].to_s %></div>

			<div class="stat_data"><%= "AT HOME: " + @home_home_stats[:pitches_thrown_per_game].to_s + " (" + @home_team_home_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @road_team.matchup_abbr.upcase + ": " + @home_opp_stats[:pitches_thrown_per_game].to_s + " (" + @home_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.home_pitcher.upcase + ": " + @home_with_pitcher_stats[:pitches_thrown_per_game].to_s + " (" + @home_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @home_last_ten_stats[:pitches_thrown_per_game].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @road_team.matchup_abbr.upcase + " PITCHES/GAME" %></div>

			<div class="stat_data"><%= "Last " + @road_team_all_games.length.to_s + " " + "Games: " + @road_all_stats[:pitches_thrown_per_game].to_s %></div>

			<div class="stat_data"><%= "ON THE ROAD: " + @road_road_stats[:pitches_thrown_per_game].to_s + " (" + @road_team_road_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @home_team.matchup_abbr.upcase + ": " + @road_opp_stats[:pitches_thrown_per_game].to_s + " (" + @road_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.away_pitcher.upcase + ": " + @road_with_pitcher_stats[:pitches_thrown_per_game].to_s + " (" + @road_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @road_last_ten_stats[:pitches_thrown_per_game].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @home_team.matchup_abbr.upcase + " OPP PITCHES/GAME" %></div>

			<div class="stat_data"><%= "Last " + @home_team_all_games.length.to_s + " " + "Games: " + @home_all_stats[:pitches_seen_per_game].to_s %></div>

			<div class="stat_data"><%= "AT HOME: " + @home_home_stats[:pitches_seen_per_game].to_s + " (" + @home_team_home_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @road_team.matchup_abbr.upcase + ": " + @home_opp_stats[:pitches_seen_per_game].to_s + " (" + @home_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.away_pitcher.upcase + ": " + @home_pitcher_stats[:pitches_seen_per_game].to_s + " (" + @home_vs_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @home_last_ten_stats[:pitches_seen_per_game].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @road_team.matchup_abbr.upcase + " OPP PITCHES/RUN" %></div>

			<div class="stat_data"><%= "Last " + @road_team_all_games.length.to_s + " " + "Games: " + @road_all_stats[:opp_runs_per_pitch].to_s %></div>

			<div class="stat_data"><%= "ON THE ROAD: " + @road_road_stats[:opp_runs_per_pitch].to_s + " (" + @road_team_road_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @home_team.matchup_abbr.upcase + ": " + @road_opp_stats[:opp_runs_per_pitch].to_s + " (" + @road_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.away_pitcher.upcase + ": " + @road_with_pitcher_stats[:opp_runs_per_pitch].to_s + " (" + @road_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @road_last_ten_stats[:opp_runs_per_pitch].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @home_team.matchup_abbr.upcase + " PITCHES/RUN" %></div>

			<div class="stat_data"><%= "Last " + @home_team_all_games.length.to_s + " " + "Games: " + @home_all_stats[:runs_per_pitch_by_opp].to_s %></div>

			<div class="stat_data"><%= "AT HOME: " + @home_home_stats[:runs_per_pitch_by_opp].to_s + " (" + @home_team_home_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @road_team.matchup_abbr.upcase + ": " + @home_opp_stats[:runs_per_pitch_by_opp].to_s + " (" + @home_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.away_pitcher.upcase + ": " + @home_pitcher_stats[:runs_per_pitch_by_opp].to_s + " (" + @home_vs_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @home_last_ten_stats[:runs_per_pitch_by_opp].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @road_team.matchup_abbr.upcase + " BULLPEN PITCH/RUN" %></div>

			<div class="stat_data"><%= "Last " + @road_team_all_games.length.to_s + " " + "Games: " + @road_all_stats[:bullpen_rpp].to_s %></div>

			<div class="stat_data"><%= "ON THE ROAD: " + @road_road_stats[:bullpen_rpp].to_s + " (" + @road_team_road_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @home_team.matchup_abbr.upcase + ": " + @road_opp_stats[:bullpen_rpp].to_s + " (" + @road_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.away_pitcher.upcase + ": " + @road_with_pitcher_stats[:bullpen_rpp].to_s + " (" + @road_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @road_last_ten_stats[:bullpen_rpp].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @home_team.matchup_abbr.upcase + " BULLPEN PITCH/RUN" %></div>

			<div class="stat_data"><%= "Last " + @home_team_all_games.length.to_s + " " + "Games: " + @home_all_stats[:bullpen_rpp].to_s %></div>

			<div class="stat_data"><%= "AT HOME: " + @home_home_stats[:bullpen_rpp].to_s + " (" + @home_team_home_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @road_team.matchup_abbr.upcase + ": " + @home_opp_stats[:bullpen_rpp].to_s + " (" + @home_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.home_pitcher.upcase + ": " + @home_with_pitcher_stats[:bullpen_rpp].to_s + " (" + @home_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @home_last_ten_stats[:bullpen_rpp].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @road_team.matchup_abbr.upcase + " STARTER PITCH/RUN" %></div>

			<div class="stat_data"><%= "Last " + @road_team_all_games.length.to_s + " " + "Games: " + @road_all_stats[:starter_rpp].to_s %></div>

			<div class="stat_data"><%= "ON THE ROAD: " + @road_road_stats[:starter_rpp].to_s + " (" + @road_team_road_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @home_team.matchup_abbr.upcase + ": " + @road_opp_stats[:starter_rpp].to_s + " (" + @road_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.away_pitcher.upcase + ": " + @road_with_pitcher_stats[:starter_rpp].to_s + " (" + @road_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @road_last_ten_stats[:starter_rpp].to_s %></div>
		</div>

		<div class="stat_cont">

			<div class="stat_label"><%= @home_team.matchup_abbr.upcase + " STARTER PITCH/RUN" %></div>

			<div class="stat_data"><%= "Last " + @home_team_all_games.length.to_s + " " + "Games: " + @home_all_stats[:starter_rpp].to_s %></div>

			<div class="stat_data"><%= "AT HOME: " + @home_home_stats[:starter_rpp].to_s + " (" + @home_team_home_games.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "Vs. " + @road_team.matchup_abbr.upcase + ": " + @home_opp_stats[:starter_rpp].to_s + " (" + @home_vs_opp.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "GMS WITH " + @matchup.home_pitcher.upcase + ": " + @home_with_pitcher_stats[:starter_rpp].to_s + " (" + @home_with_pitcher.length.to_s + " " + "gm/s)" %></div>

			<div class="stat_data"><%= "LAST TEN GAMES: " + @home_last_ten_stats[:starter_rpp].to_s %></div>
		</div>

	</div>			
	
</div>

<% self.get_all_pitchers %>

<% self.create_rating_objects %>

<div>
	
	<% @pitchers_and_ratings.each do |p| %>

		<% if p[:pitcher] == @matchup.home_pitcher || p[:pitcher] == @matchup.away_pitcher %>

			<% @pitchers_in_matchup.push(p) %>

		<% end %>

	<% end %>

	<div>

		<% @pitchers_in_matchup.each do |p| %>

			<div>

				<div><%= p[:pitcher] %></div>
				<div><%= p[:overall_rating] %></div>
				<div><%= p[:home_rating] %></div>
				<div><%= p[:away_rating] %></div>
				<div><%= p[:last_three] %></div>
				<div><%= p[:all_ratings] %></div>


			</div>

		<% end %>


	<div>



</div>

<%= @pitchers_in_matchup %>
















