<% @my_date %>
<% @time %>
<% @nfl_games = [] %>
<% @nba_games = [] %>
<% @mlb_games = [] %>
<% @user_nfl_picks = [] %>
<% @user_nba_picks = [] %>
<% @user_mlb_picks = [] %>
<% @matchup_date %>
<% self.get_time %>
<% self.get_military_time %>
<% self.check_user_picks %>
<% self.get_user_picks %>





<div id="sport_filters">
	
	<div id="nfl_filter" class="all_filters">NFL</div>
	<div id="nba_filter" class="all_filters">NBA</div>
	<div id="mlb_filter" class="all_filters">MLB</div>


</div>



<div id="pick_form">
	
	<%= form_for @pick do |p| %>

		<div><%= p.text_field :user_id, :value => current_user.id %></div>
		<div><%= p.text_field :matchup_id  %></div>
		<div><%= p.text_field :date, :value => @my_date %></div>
		<div><%= p.text_field :sport %></div>
		<div><%= p.text_field :bet_type %></div>
		<div><%= p.text_field :selection %></div>

		<%= p.submit %>


	<% end %>


</div>



<div id="nfl_games" class = "games_cont" style="display: none;">
	
<p>NFL</p>


</div>

<div id="nba_games" class = "games_cont" style="display: none;">
	

<p>NBA</p>
	
</div>

<div id="mlb_games" class = "games_cont" style="display: none;">
	

<p>MLB</p>
	
</div>

<% Matchup.all.each do |m| %>


	<% if m.date == @my_date && m.start_time >= @time && m.sport == "NFL" %>

		<% @nfl_games.push(m) %>

	<% elsif m.date == @my_date && m.start_time >= @time && m.sport == "NBA"%>

		<% @nba_games.push(m) %>

	<% elsif m.date == @my_date && m.start_time >= @time && m.sport == "MLB"%>

		<% @mlb_games.push(m) %>

	<% end %>

<% end %>





<script>

	var nflFilter = document.getElementById("nfl_filter")
	var nbaFilter = document.getElementById("nba_filter")
	var mlbFilter = document.getElementById("mlb_filter")

	var mlbMatchup
	var mlbGames = []
	var mlbCont = document.getElementById("mlb_games")
	var mlbFavDivs = []
	var mlbDogDivs = []
	var mlbOverDivs = []
	var mlbUnderDivs = []

	var nflMatchup
	var nflGames = []
	var nflCont = document.getElementById("nfl_games")
	var nflFavDivs = []
	var nflDogDivs = []
	var nflOverDivs = []
	var nflUnderDivs = []

	var nbaMatchup
	var nbaGames = []
	var nbaCont = document.getElementById("nba_games")
	var nbaFavDivs = []
	var nbaDogDivs = []
	var nbaOverDivs = []
	var nbaUnderDivs = []

	var userNflPicks = []
	var userNbaPicks = []
	var userMlbPicks = []
	var allUserPicks = []

	var pickObj
	var turnOffDivs = []

	var allDivs = []

	<% @user_nfl_picks.each do |u| %>

		<% if u[:date] == @my_date %>

			pickObj = {}

			pickObj.matchupId = "<%= u[:matchup_id] %>"
			pickObj.betType = "<%= u[:bet_type] %>"

			userNflPicks.push(pickObj)

		<% end %>

	<% end %>

	<% @all_user_picks.each do |p| %>


		pickObj = {}

		pickObj.matchupId = "<%= p[:matchup_id] %>"
		pickObj.betType = "<%= p[:bet_type] %>"

		allUserPicks.push(pickObj)


	<% end %>



	<% @nfl_games.each do |nfl| %>

		nflMatchup = {}

		nflMatchup.date = "<%= nfl.date %>"
		nflMatchup.id = "<%= nfl.id %>"
		nflMatchup.fav = "<%= nfl.fav %>"
		nflMatchup.dog = "<%= nfl.dog %>"
		nflMatchup.spread = "<%= nfl.spread %>"
		nflMatchup.favField = "<%= nfl.fav_field %>"
		nflMatchup.total = "<%= nfl.total %>"

		nflGames.push(nflMatchup)


	<% end %>



	<% @mlb_games.each do |mlb| %>

		mlbMatchup = {}

		mlbMatchup.date = "<%= mlb.date %>"
		mlbMatchup.id = "<%= mlb.id %>"
		mlbMatchup.fav = "<%= mlb.fav %>"
		mlbMatchup.dog = "<%= mlb.dog %>"
		mlbMatchup.favMl = "<%= mlb.fav_ml %>"
		mlbMatchup.dogMl = "<%= mlb.dog_ml %>"
		mlbMatchup.favField = "<%= mlb.fav_field %>"
		mlbMatchup.total = "<%= mlb.total %>"

		mlbGames.push(mlbMatchup)

	<% end %>

	<% @nba_games.each do |nba| %>

		nbaMatchup = {}

		nbaMatchup.date = "<%= nba.date %>"
		nbaMatchup.id = "<%= nba.id %>"
		nbaMatchup.fav = "<%= nba.fav %>"
		nbaMatchup.dog = "<%= nba.dog %>"
		nbaMatchup.spread = "<%= nba.spread %>"
		nbaMatchup.favField = "<%= nba.fav_field %>"
		nbaMatchup.total = "<%= nba.total %>"

		nbaGames.push(nbaMatchup)




	<% end %>

	for(i=0; i < nflGames.length; i++){

		nflFavObj = {}
		nflDogObj = {}
		nflOverObj = {}
		nflUnderObj = {}

		let nflBlock = document.createElement('div')
		let favDiv = document.createElement('div')
		let dogDiv = document.createElement('div')
		let overDiv = document.createElement('div')
		let underDiv = document.createElement('div')
		nflBlock.setAttribute("class", "data")
		favDiv.setAttribute("class", "favChoice")
		dogDiv.setAttribute("class", "dogChoice")
		overDiv.setAttribute("class", "overChoice")
		underDiv.setAttribute("class", "underChoice")
		
		nflBlock.style.height = '22%'
		nflBlock.style.width = '22%'
		nflBlock.style.border = '1px solid black'
		nflBlock.style.display = 'inLine-block'
		nflBlock.style.fontSize = '18px'
		nflBlock.style.marginLeft = '2%'

		favDiv.style.color = "blue"
		dogDiv.style.color = "blue"
		overDiv.style.color = "blue"
		underDiv.style.color = "blue"


		favDiv.innerHTML = nflGames[i].fav + " " + nflGames[i].spread

		dogDiv.innerHTML = nflGames[i].dog + " +" + (parseFloat(nflGames[i].spread) * -1).toString()


		
		
		overDiv.innerHTML = "O " + nflGames[i].total
		underDiv.innerHTML = "U " + nflGames[i].total

		nflFavObj.matchup_id = nflGames[i].id
		nflFavObj.div = favDiv
		nflFavObj.showMe = true

		nflDogObj.matchup_id = nflGames[i].id
		nflDogObj.div = dogDiv
		nflDogObj.showMe = true

		nflOverObj.matchup_id = nflGames[i].id
		nflOverObj.div = overDiv
		nflOverObj.showMe = true

		nflUnderObj.matchup_id = nflGames[i].id
		nflUnderObj.div = underDiv
		nflUnderObj.showMe = true

		nflFavDivs.push(nflFavObj)
		nflDogDivs.push(nflDogObj)
		nflOverDivs.push(nflOverObj)
		nflUnderDivs.push(nflUnderObj)
		allDivs.push(nflFavObj)
		allDivs.push(nflDogObj)
		allDivs.push(nflOverObj)
		allDivs.push(nflUnderObj)

		nflBlock.appendChild(favDiv)
		nflBlock.appendChild(overDiv)
		nflBlock.appendChild(dogDiv)
		nflBlock.appendChild(underDiv)


		nflCont.appendChild(nflBlock)


	}

	for(i=0; i < mlbGames.length; i++){

		mlbFavObj = {}
		mlbDogObj = {}
		mlbOverObj = {}
		mlbUnderObj = {}

		let mlbBlock = document.createElement('div')
		let favDiv = document.createElement('div')
		let dogDiv = document.createElement('div')
		let overDiv = document.createElement('div')
		let underDiv = document.createElement('div')
		mlbBlock.setAttribute("class", "data")
		favDiv.setAttribute("class", "favChoice")
		dogDiv.setAttribute("class", "dogChoice")
		overDiv.setAttribute("class", "overChoice")
		underDiv.setAttribute("class", "underChoice")
		
		mlbBlock.style.height = '22%'
		mlbBlock.style.width = '22%'
		mlbBlock.style.border = '1px solid black'
		mlbBlock.style.display = 'inLine-block'
		mlbBlock.style.fontSize = '18px'
		mlbBlock.style.marginLeft = '2%'

		favDiv.style.color = "blue"
		dogDiv.style.color = "blue"
		overDiv.style.color = "blue"
		underDiv.style.color = "blue"


		favDiv.innerHTML = mlbGames[i].fav + " " + mlbGames[i].favMl

		if (parseInt(mlbGames[i].dogMl) > 0 ){

			dogDiv.innerHTML = mlbGames[i].dog + " +" + mlbGames[i].dogMl


		}else{

			dogDiv.innerHTML = mlbGames[i].dog + " " + mlbGames[i].dogMl
		}
		
		overDiv.innerHTML = "O " + mlbGames[i].total
		underDiv.innerHTML = "U " + mlbGames[i].total

		mlbFavObj.matchup_id = mlbGames[i].id
		mlbFavObj.div = favDiv
		mlbFavObj.showMe = true

		mlbDogObj.matchup_id = mlbGames[i].id
		mlbDogObj.div = dogDiv
		mlbDogObj.showMe = true

		mlbOverObj.matchup_id = mlbGames[i].id
		mlbOverObj.div = overDiv
		mlbOverObj.showMe = true

		mlbUnderObj.matchup_id = mlbGames[i].id
		mlbUnderObj.div = underDiv
		mlbUnderObj.showMe = true

		mlbFavDivs.push(mlbFavObj)
		mlbDogDivs.push(mlbDogObj)
		mlbOverDivs.push(mlbOverObj)
		mlbUnderDivs.push(mlbUnderObj)

		allDivs.push(mlbFavObj)
		allDivs.push(mlbDogObj)
		allDivs.push(mlbOverObj)
		allDivs.push(mlbUnderObj)

		mlbBlock.appendChild(favDiv)
		mlbBlock.appendChild(overDiv)
		mlbBlock.appendChild(dogDiv)
		mlbBlock.appendChild(underDiv)



		mlbCont.appendChild(mlbBlock)


	}

	for(i=0; i < nbaGames.length; i++){

		nbaFavObj = {}
		nbaDogObj = {}
		nbaOverObj = {}
		nbaUnderObj = {}

		let nbaBlock = document.createElement('div')
		let favDiv = document.createElement('div')
		let dogDiv = document.createElement('div')
		let overDiv = document.createElement('div')
		let underDiv = document.createElement('div')
		nbaBlock.setAttribute("class", "data")
		favDiv.setAttribute("class", "favChoice")
		dogDiv.setAttribute("class", "dogChoice")
		overDiv.setAttribute("class", "overChoice")
		underDiv.setAttribute("class", "underChoice")
		
		nbaBlock.style.height = '22%'
		nbaBlock.style.width = '22%'
		nbaBlock.style.border = '1px solid black'
		nbaBlock.style.display = 'inLine-block'
		nbaBlock.style.fontSize = '18px'
		nbaBlock.style.marginLeft = '2%'

		favDiv.style.color = "blue"
		dogDiv.style.color = "blue"
		overDiv.style.color = "blue"
		underDiv.style.color = "blue"


		favDiv.innerHTML = nbaGames[i].fav + " " + nbaGames[i].spread

		dogDiv.innerHTML = nbaGames[i].dog + " +" + (parseFloat(nbaGames[i].spread) * -1).toString()


		
		
		overDiv.innerHTML = "O " + nbaGames[i].total
		underDiv.innerHTML = "U " + nbaGames[i].total

		nbaFavObj.matchup_id = nbaGames[i].id
		nbaFavObj.div = favDiv
		nbaFavObj.showMe = true

		nbaDogObj.matchup_id = nbaGames[i].id
		nbaDogObj.div = dogDiv
		nbaDogObj.showMe = true

		nbaOverObj.matchup_id = nbaGames[i].id
		nbaOverObj.div = overDiv
		nbaOverObj.showMe = true

		nbaUnderObj.matchup_id = nbaGames[i].id
		nbaUnderObj.div = underDiv
		nbaUnderObj.showMe = true

		nbaFavDivs.push(nbaFavObj)
		nbaDogDivs.push(nbaDogObj)
		nbaOverDivs.push(nbaOverObj)
		nbaUnderDivs.push(nbaUnderObj)

		allDivs.push(nbaFavObj)
		allDivs.push(nbaDogObj)
		allDivs.push(nbaOverObj)
		allDivs.push(nbaUnderObj)

		nbaBlock.appendChild(favDiv)
		nbaBlock.appendChild(overDiv)
		nbaBlock.appendChild(dogDiv)
		nbaBlock.appendChild(underDiv)


		nbaCont.appendChild(nbaBlock)


	}



	for (i=0; i < allUserPicks.length; i++){

		for(let z = 0; z < allDivs.length; z++){

			if (allUserPicks[i].matchupId == allDivs[z].matchup_id){

				if (allUserPicks[i].betType == "side"){

					if ((allDivs[z].div.classList == "favChoice") == true){

							turnOffDivs.push(allDivs[z])

					}

					if ((allDivs[z].div.classList == "dogChoice") == true){

							turnOffDivs.push(allDivs[z])

					}


				}else if (allUserPicks[i].betType == "total"){

					if ((allDivs[z].div.classList == "overChoice") == true){	

							turnOffDivs.push(allDivs[z])

					}
					if ((allDivs[z].div.classList == "underChoice") == true){


							turnOffDivs.push(allDivs[z])

					}

				}

			}
		}
	}



	for (i=0; i < turnOffDivs.length; i++){

		for (let x = 0; x < allDivs.length; x++){

			if (turnOffDivs[i] == allDivs[x]){

				allDivs[x].showMe = false
			}


		}



	}


	for (let i=0; i < nflFavDivs.length; i++){

		if (nflFavDivs[i].showMe == true){

			nflFavDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = nflFavDivs[i].matchup_id
				pick_sport.value = "NFL"
				pick_bet_type.value = "side"
				pick_selection.value = nflFavDivs[i].div.innerHTML

				new_pick.submit()



			})

		}else{

			nflFavDivs[i].div.style.color = "black"
			nflFavDivs[i].div.style.textDecoration = "none"
			nflFavDivs[i].div.style.cursor = "default"
		}
		
		
	}

	for (let i=0; i < nflDogDivs.length; i++){

		if (nflDogDivs[i].showMe == true){

			nflDogDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = nflDogDivs[i].matchup_id
				pick_sport.value = "NFL"
				pick_bet_type.value = "side"
				pick_selection.value = nflDogDivs[i].div.innerHTML

				new_pick.submit()



			})

		}else{

			nflDogDivs[i].div.style.color = "black"
			nflDogDivs[i].div.style.textDecoration = "none"
			nflDogDivs[i].div.style.cursor = "default"
		}
		
		
	}

	for (let i=0; i < nflOverDivs.length; i++){

		if (nflOverDivs[i].showMe == true){

			nflOverDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = nflOverDivs[i].matchup_id
				pick_sport.value = "NFL"
				pick_bet_type.value = "total"
				pick_selection.value = nflOverDivs[i].div.innerHTML

				new_pick.submit()



			})

		}else{

			nflOverDivs[i].div.style.color = "black"
			nflOverDivs[i].div.style.textDecoration = "none"
			nflOverDivs[i].div.style.cursor = "default"

		}

	}

	for (let i=0; i < nflUnderDivs.length; i++){

		if (nflUnderDivs[i].showMe == true){

			nflUnderDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = nflUnderDivs[i].matchup_id
				pick_sport.value = "NFL"
				pick_bet_type.value = "total"
				pick_selection.value = nflUnderDivs[i].div.innerHTML

				new_pick.submit()



			})

		}else{

			nflUnderDivs[i].div.style.color = "black"
			nflUnderDivs[i].div.style.textDecoration = "none"
			nflUnderDivs[i].div.style.cursor = "default"

		}

	}


	for (let i=0; i < mlbFavDivs.length; i++){

		if(mlbFavDivs[i].showMe == true){

			mlbFavDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = mlbFavDivs[i].matchup_id
				pick_sport.value = "MLB"
				pick_bet_type.value = "side"
				pick_selection.value = mlbFavDivs[i].div.innerHTML

				new_pick.submit()



			})

		}else{

			mlbFavDivs[i].div.style.color = "black"
			mlbFavDivs[i].div.style.textDecoration = "none"
			mlbFavDivs[i].div.style.cursor = "default"
		} 
		
	}

	for (let i=0; i < mlbDogDivs.length; i++){

		if(mlbDogDivs[i].showMe == true){

			mlbDogDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = mlbDogDivs[i].matchup_id
				pick_sport.value = "MLB"
				pick_bet_type.value = "side"
				pick_selection.value = mlbDogDivs[i].div.innerHTML

				new_pick.submit()



			}) 
		}else{

			mlbDogDivs[i].div.style.color = "black"
			mlbDogDivs[i].div.style.textDecoration = "none"
			mlbDogDivs[i].div.style.cursor = "default"
		}

	}

	for (let i=0; i < mlbOverDivs.length; i++){

		if(mlbOverDivs[i].showMe == true){

			mlbOverDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = mlbOverDivs[i].matchup_id
				pick_sport.value = "MLB"
				pick_bet_type.value = "total"
				pick_selection.value = mlbOverDivs[i].div.innerHTML

				new_pick.submit()



			}) 

		}else{

			mlbOverDivs[i].div.style.color = "black"
			mlbOverDivs[i].div.style.textDecoration = "none"
			mlbOverDivs[i].div.style.cursor = "default"
		}

	}

	for (let i=0; i < mlbUnderDivs.length; i++){

		if(mlbUnderDivs[i].showMe == true){

			mlbUnderDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = mlbUnderDivs[i].matchup_id
				pick_sport.value = "MLB"
				pick_bet_type.value = "total"
				pick_selection.value = mlbUnderDivs[i].div.innerHTML

				new_pick.submit()



			}) 

		}else{

			mlbUnderDivs[i].div.style.color = "black"
			mlbUnderDivs[i].div.style.textDecoration = "none"
			mlbUnderDivs[i].div.style.cursor = "default"
		}

	}


	for (let i=0; i < nbaFavDivs.length; i++){

		if (nbaFavDivs[i].showMe == true){

			nbaFavDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = nbaFavDivs[i].matchup_id
				pick_sport.value = "NBA"
				pick_bet_type.value = "side"
				pick_selection.value = nbaFavDivs[i].div.innerHTML

				new_pick.submit()



			})

		}else{

			nbaFavDivs[i].div.style.color = "black"
			nbaFavDivs[i].div.style.textDecoration = "none"
			nbaFavDivs[i].div.style.cursor = "default"
		}
		
	}

	for (let i=0; i < nbaDogDivs.length; i++){

		if (nbaDogDivs[i].showMe == true){

			nbaDogDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = nbaDogDivs[i].matchup_id
				pick_sport.value = "NBA"
				pick_bet_type.value = "side"
				pick_selection.value = nbaDogDivs[i].div.innerHTML

				new_pick.submit()



			})

		}else{

			nbaDogDivs[i].div.style.color = "black"
			nbaDogDivs[i].div.style.textDecoration = "none"
			nbaDogDivs[i].div.style.cursor = "default"
		}
		
	}

	for (let i=0; i < nbaOverDivs.length; i++){

		if (nbaOverDivs[i].showMe == true){

			nbaOverDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = nbaOverDivs[i].matchup_id
				pick_sport.value = "NBA"
				pick_bet_type.value = "total"
				pick_selection.value = nbaOverDivs[i].div.innerHTML

				new_pick.submit()



			})

		}else{

			nbaOverDivs[i].div.style.color = "black"
			nbaOverDivs[i].div.style.textDecoration = "none"
			nbaOverDivs[i].div.style.cursor = "default"
		}
		
	}

	for (let i=0; i < nbaUnderDivs.length; i++){

		if (nbaUnderDivs[i].showMe == true){

			nbaUnderDivs[i].div.addEventListener("click", function(){

				pick_matchup_id.value = nbaUnderDivs[i].matchup_id
				pick_sport.value = "NBA"
				pick_bet_type.value = "total"
				pick_selection.value = nbaUnderDivs[i].div.innerHTML

				new_pick.submit()



			})

		}else{

			nbaUnderDivs[i].div.style.color = "black"
			nbaUnderDivs[i].div.style.textDecoration = "none"
			nbaUnderDivs[i].div.style.cursor = "default"
		}
		
	}

	nflFilter.addEventListener("click", function(){

		nbaCont.style.display = "none"
		mlbCont.style.display = "none"
		nflCont.style.display = "block"


	})

	nbaFilter.addEventListener("click", function(){

		nbaCont.style.display = "block"
		mlbCont.style.display = "none"
		nflCont.style.display = "none"


	})

	mlbFilter.addEventListener("click", function(){

		nbaCont.style.display = "none"
		mlbCont.style.display = "block"
		nflCont.style.display = "none"


	})



	



</script>

<% self.get_last_sport %>

<script>
	
	var nflBool = "<%= @nfl_last %>"
	var nbaBool = "<%= @nba_last %>"
	var mlbBool = "<%= @mlb_last %>"

	if (nflBool == "true"){

		nflCont.style.display = "block"

	}else if(nbaBool == "true"){

		nbaCont.style.display = "block"


	}else if(mlbBool == "true"){

		mlbCont.style.display = "block"


	}else{


	}


</script>











