
<% self.get_time %>
<% self.sort_matchups %>
<% self.sort_matchups %>
<% self.list_matchups_for_update %>


<div>
	
	<div><% @nfl_matchups.each do |x| %>

			<% link = "NFL " + x.fav + " " + x.spread + " " + x.dog %>


			<div><%= link_to link, matchup_path(x.id) %></div>


		<% end %>

	</div>

	

</div>
<div>
	
	<div><% @nba_matchups.each do |x| %>

			<% link = "NBA " + x.fav + " " + x.spread + " " + x.dog %>


			<div><%= link_to link, matchup_path(x.id) %></div>


		<% end %>

	</div>

</div>
<div>
	
	<div><% @mlb_matchups.each do |x| %>

			<% link = "MLB " + x.fav + " " + x.fav_ml + " " + x.dog %>

			<div><%= link_to link, matchup_path(x.id) %></div>


		<% end %>

	</div>


<div>

	<% @nfl_update.each do |x| %>

		<% link = x.fav + " " + x.spread + " " + x.dog + " update" %>

		<div><%= link_to link, edit_matchup_path(x.id) %></div>

	<% end %>

	<% @nba_update.each do |x| %>

		<% link = x.fav + " " + x.spread + " " + x.dog + " update" %>

		<div><%= link_to link, edit_matchup_path(x.id) %></div>

	<% end %>

	<% @mlb_update.each do |x| %>

		<% link = x.sport + " " + x.fav + " " + x.fav_ml + " " + x.dog + " update" %>

		<div><%= link_to link, edit_matchup_path(x.id) %></div>

	<% end %>

	<% Matchup.all.each do |x| %>

		<% if x.date != @my_date %>

			<% if x.sport == "MLB" %>

				<% link = x.sport + " " + x.fav + " " + x.fav_ml + " " + x.dog + " " + x.id.to_s%>

				<div><%= link_to link, matchup_path(x.id) %></div>

			<% else %>

				<% link = x.sport + " " + x.fav + " " + x.spread + " " + x.dog + " " + x.id.to_s %>

				<div><%= link_to link, matchup_path(x.id) %></div>


			<% end %>


		<% end %>


	<% end %>
	






</div>

</div>