
<% self.get_time %>
<% self.sort_matchups %>
<% self.list_matchups_for_update %>

	
	<div><% @nfl_matchups.each do |x| %>

			<% link = "NFL " + x.fav + " " + x.spread + " " + x.dog %>


			<div><%= link_to link, matchup_path(x.id) %></div>


		<% end %>

	</div>

	

</div>

<div>
	
	<div><% @nba_matchups.each do |x| %>

			<% link = "NBA " + x.fav + " " + x.spread + " " + x.dog %>



			<div><%= link_to link, matchup_path(x.id) %></div>


		<% end %>

	</div>

</div>
<div>
	
	<div><% @mlb_matchups.each do |x| %>

			<% link = "MLB " + x.fav + " " + x.fav_ml + " " + x.dog %>

			<div><%= link_to link, matchup_path(x.id) %></div>


		<% end %>

	</div>


<div>

	


	






</div>

</div>

<% if current_user.admin == true %>

	<div style="margin-top: 5%;"> GAMES TO UPDATE:
		
		<% @nfl_update.each do |x| %>

			<% link = x.fav + " " + x.spread + " " + x.dog + " update" %>

			<div><%= link_to link, edit_matchup_path(x.id) %></div>

		<% end %>

		<% @nba_update.each do |x| %>

			<% link = x.fav + " " + x.spread + " " + x.dog + " update" %>

			<div><%= link_to link, edit_matchup_path(x.id) %></div>

		<% end %>

		<% @mlb_update.each do |x| %>

			<% link = x.sport + " " + x.fav + " " + x.fav_ml + " " + x.dog + " update" %>

			<div><%= link_to link, edit_matchup_path(x.id) %></div>

		<% end %>


	</div>

<% end %>
	


</div>