
<% @all_home_matchups = [] %>
<% @all_road_matchups = [] %>
<% @all_matchups = [] %>
<% @home_fave_under3 = [] %>
<% @home_fave_under7 = [] %>
<% @home_fave_under10 = [] %>
<% @home_fave_under14 = [] %>
<% @home_fave_14_or_more = [] %>

<% @road_fave_under3 = [] %>
<% @road_fave_under7 = [] %>
<% @road_fave_under10 = [] %>
<% @road_fave_under14 = [] %>
<% @road_fave_14_or_more = [] %>

<% @road_dog_under3 = [] %>
<% @road_dog_under7 = [] %>
<% @road_dog_under10 = [] %>
<% @road_dog_under14 = [] %>
<% @road_dog_14_or_more = [] %>

<% @home_dog_under3 = [] %>
<% @home_dog_under7 = [] %>
<% @home_dog_under10 = [] %>
<% @home_dog_under14 = [] %>
<% @home_dog_14_or_more = [] %>

<% @R_home_fave_under3 = [] %>
<% @R_home_fave_under7 = [] %>
<% @R_home_fave_under10 = [] %>
<% @R_home_fave_under14 = [] %>
<% @home_fave_14_or_more = [] %>

<% @R_road_fave_under3 = [] %>
<% @R_road_fave_under7 = [] %>
<% @R_road_fave_under10 = [] %>
<% @R_road_fave_under14 = [] %>
<% @road_fave_14_or_more = [] %>

<% @R_road_dog_under3 = [] %>
<% @R_road_dog_under7 = [] %>
<% @R_road_dog_under10 = [] %>
<% @R_road_dog_under14 = [] %>
<% @R_road_dog_14_or_more = [] %>

<% @R_home_dog_under3 = [] %>
<% @R_home_dog_under7 = [] %>
<% @R_home_dog_under10 = [] %>
<% @R_home_dog_under14 = [] %>
<% @R_home_dog_14_or_more = [] %>

<% @road_amv %>
<% @home_amv %>

<% @situation_amv %>
<% @road_situation_amv %>

<% @home_current_situation %>
<% @road_current_situation %>


<div class = "hide">
	
	<%= form_for @selection do |s| %>

		<%= s.text_field :user_id, value: current_user.id %>
		<%= s.text_field :matchup_id, value: @matchup.id %>
		<%= s.text_field :pick %>
		<%= s.text_field :situation %>


	<% end %>


</div>

<div id="fav_team"><%= @matchup.fav %></div>
<div id="dog_team"><%= @matchup.dog %></div>
<div ><input type="submit" name="" value="SUBMIT" id="selec_sub"></div>

<script>
	
var favTeam = document.getElementById("fav_team")
var dogTeam = document.getElementById("dog_team")
var subPick = document.getElementById("selec_sub")

function getSituation(selection){

	var spread = "<%= @matchup.spread %>"
	var favLine = "<%= @matchup.fav_ml %>"
	var dogLine = "<%= @matchup.dog_ml %>"

	if(isNaN(parseFloat(spread))){

		spread = "none"

	}else{

		spread = parseFloat(spread)
	}

	if(isNaN(parseFloat(favLine))){

		favLine = "none"

	}else{

		favLine = parseFloat(favLine)
	}

	if(isNaN(parseFloat(dogLine))){

		dogLine = "none"

	}else{

		dogLine = parseFloat(dogLine)
	}


	if(selection == "<%= @matchup.fav %>"){

		if("Home" == "<%= @matchup.fav_field %>"){

			if(spread != "none"){

				if(spread < 3){

					selection_situation.value = "home fav under 3"

				}else if(spread > 2.5 && spread < 7){

					selection_situation.value = "home fav 3 - 6.5"


				}else if(spread > 6.5 && spread < 10){

					selection_situation.value = "home fav 7 - 9.5"


				}else if(spread > 9.5 && spread < 14){

					selection_situation.value = "home fav 10 - 13.5"


				}else if(spread >= 14){

					selection_situation.value = "home fav 14 or more"
					
				}
			}

			if(favLine != "none"){

				if(favLine < 0 && favLine > -121){

					selection_situation.value = "home fav -120 or less"


				}else if(favLine < -120 && favLine > -140){

					selection_situation.value = "home fav -121 to -139"


				}else if(favLine < -140 && favLine > -170){

					selection_situation.value = "home fav -140 to -169"
					
				}else if(favLine < -170 && favLine > -200){

					selection_situation.value = "home fav -170 to -199"


				}else if(favLine < -199){

					selection_situation.value = "home fav -200 or higher"

				}


			}

		}

		if("Away" == "<%= @matchup.fav_field %>"){

			if (spread != "none"){

				if(spread < 3){

					selection_situation.value = "road fav under 3"

				}else if(spread > 2.5 && spread < 7){

					selection_situation.value = "road fav 3 - 6.5"


				}else if(spread > 6.5 && spread < 10){

					selection_situation.value = "road fav 7 - 9.5"


				}else if(spread > 9.5 && spread < 14){

					selection_situation.value = "road fav 10 - 13.5"


				}else if(spread >= 14){

					selection_situation.value = "road fav 14 or more"

					
				}

			}

			if(favLine != "none"){

				if(favLine < 0 && favLine > -121){

					selection_situation.value = "road fav -120 or less"


				}else if(favLine < -120 && favLine > -140){

					selection_situation.value = "road fav -121 to -139"


				}else if(favLine < -140 && favLine > -170){

					selection_situation.value = "road fav -140 to -169"
					
				}else if(favLine < -170 && favLine > -200){

					selection_situation.value = "road fav -170 to -199"


				}else if(favLine <= -200){

					selection_situation.value = "road fav -200 or higher"

				}


			}
		}
	}else{

		if(selection == "<%= @matchup.dog %>"){

			if("Home" == "<%= @matchup.dog_field %>"){

				if(spread != "none"){

					if(spread < 3){

						selection_situation.value = "home dog under 3"

					}else if(spread > 2.5 && spread < 7){

						selection_situation.value = "home dog 3 - 6.5"


					}else if(spread > 6.5 && spread < 10){

						selection_situation.value = "home dog 7 - 9.5"


					}else if(spread > 9.5 && spread < 14){

						selection_situation.value = "home dog 10 - 13.5"


					}else if(spread >= 14){

						selection_situation.value = "home dog 14 or more"
						
					}
				}

				if(dogLine != "none"){

					if(dogLine > 0 && dogLine < 121){

						selection_situation.value = "home dog +120 or less"


					}else if(dogLine > 120 && dogLine < 140){

						selection_situation.value = "home dog +121 to +139"


					}else if(favLine > 140 && dogLine < 170){

						selection_situation.value = "home dog +140 to +169"
						
					}else if(dogLine > 170 && dogLine > -200){

						selection_situation.value = "home dog +170 to +199"


					}else if(dogLine >= 200){

						selection_situation.value = "home dog +200 or higher"

					}


				}

			}

			if("Away" == "<%= @matchup.dog_field %>"){

				if (spread != "none"){

					if(spread < 3){

						selection_situation.value = "road dog under 3"

					}else if(spread > 2.5 && spread < 7){

						selection_situation.value = "road dog 3 - 6.5"


					}else if(spread > 6.5 && spread < 10){

						selection_situation.value = "road dog 7 - 9.5"


					}else if(spread > 9.5 && spread < 14){

						selection_situation.value = "road dog 10 - 13.5"


					}else if(spread >= 14){

						selection_situation.value = "road dog 14 or more"

						
					}

				}

				if(dogLine != "none"){

					if(dogLine > 0 && dogLine < 121){

						selection_situation.value = "road dog +120 or less"


					}else if(dogLine > 120 && dogLine < 140){

						selection_situation.value = "road dog +121 to +139"


					}else if(favLine > 140 && dogLine < 170){

						selection_situation.value = "road dog +140 to +169"
						
					}else if(dogLine > 170 && dogLine > -200){

						selection_situation.value = "road dog +170 to +199"


					}else if(dogLine >= 200){

						selection_situation.value = "road dog +200 or higher"

					}


				}
			}


		}
	}

}

favTeam.style.color = "blue"
dogTeam.style.color = "blue"

favTeam.addEventListener("click", function(){


	dogTeam.style.color = "blue"
	selection_pick.value = "<%= @matchup.fav %>"
	favTeam.style.color = "red"
	getSituation(selection_pick.value)
	console.log(selection_situation.value)



})

dogTeam.addEventListener("click", function(){

	selection_pick.value = "<%= @matchup.dog %>"
	favTeam.style.color = "blue"
	dogTeam.style.color = "red"
	getSituation(selection_pick.value)

	console.log(selection_situation.value)



})

subPick.addEventListener("click", function(){

	new_selection.submit()
})







</script>