<% @test1 %>
<% @test2 %>
<% @test3 %>
<% @test4 %>
<% @team_check = [] %>
<% @test_array = [] %>

<% self.sort_picks_for_matchup %>
<% self.calc_percent %>
<% self.overall_sport %>
<% self.line_for_sport %>
<% self.choice_stats %>
<% self.get_spread_tag %>

<% bettor = 1 %>
<% dog_bettor = 1 %>
<% ovr_bettor = 1 %>
<% und_bettor = 1 %>

<div><p> OVERALL SPORT %</p><p>FAV BETTORS</p>


	<% @fav_bettors_info.each do |b| %>

		<div>bettor <%= " " + bettor.to_s + ": " + b[:last_five_rating].to_s + " over last five"%></div>

		<div>bettor <%= " " + bettor.to_s + ": " + b[:last_ten_rating].to_s + " over last ten"%></div>

		<div>bettor <%= " " + bettor.to_s + ": " + b[:last_twenty_rating].to_s + " over last twenty"%></div>

		<% bettor = bettor + 1 %>


	<% end %>

	<br>
	<br>

	<p>DOG BETTORS</p>

	<% @dog_bettors_info.each do |b| %>

		<div>bettor <%= " " + dog_bettor.to_s + ": " + b[:last_five_rating].to_s + " over last five"%></div>

		<div>bettor <%= " " + dog_bettor.to_s + ": " + b[:last_ten_rating].to_s + " over last ten"%></div>

		<div>bettor <%= " " + dog_bettor.to_s + ": " + b[:last_twenty_rating].to_s + " over last twenty"%></div>

		<% dog_bettor = dog_bettor + 1 %>


	<% end %>

	<br>
	<br>

	<p>OVER BETTORS</p>

	<% @ovr_bettors_info.each do |b| %>

		<div>bettor <%= " " + ovr_bettor.to_s + ": " + b[:last_five_rating].to_s + " over last five totals"%></div>

		<div>bettor <%= " " + ovr_bettor.to_s + ": " + b[:last_ten_rating].to_s + " over last ten totals"%></div>

		<div>bettor <%= " " + ovr_bettor.to_s + ": " + b[:last_twenty_rating].to_s + " over last twenty totals"%></div>

		<% ovr_bettor = ovr_bettor + 1 %>


	<% end %>

	<br>
	<br>
	<p>UND BETTORS</p>

	<% @und_bettors_info.each do |b| %>

		<div>bettor <%= " " + und_bettor.to_s + ": " + b[:last_five_rating].to_s + " over last five totals"%></div>

		<div>bettor <%= " " + und_bettor.to_s + ": " + b[:last_ten_rating].to_s + " over last ten totals"%></div>

		<div>bettor <%= " " + und_bettor.to_s + ": " + b[:last_twenty_rating].to_s + " over last twenty totals"%></div>

		<% und_bettor = und_bettor + 1 %>


	<% end %>

</div>

<% bettor = 1 %>
<% dog_bettor = 1 %>
<% ovr_bettor = 1 %>
<% und_bettor = 1 %>

<div><p>SPREAD %</p><p>FAV BETTORS</p>

	<% @fav_spread_info.each do |b| %>

		<% if @matchup.sport == "MLB" %>

			<% if @matchup.fav_ml.to_i > -130 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_twenty_rating].to_s + " over last twenty"%></div>

			<% elsif @matchup.fav_ml.to_i <= -130 && @matchup.fav_ml.to_i > -160 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_twenty_rating].to_s + " over last twenty"%></div>

			<% else %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_twenty_rating].to_s + " over last twenty"%></div>


			<% end %>

		<% else %>

			<% if (@matchup.spread.to_f).abs < 4 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_twenty_rating].to_s + " over last twenty"%></div>


			<% elsif (@matchup.spread.to_f).abs >= 4 && (@matchup.spread.to_f).abs < 8 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_twenty_rating].to_s + " over last twenty"%></div>

			<% elsif (@matchup.spread.to_f).abs >= 8 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_twenty_rating].to_s + " over last twenty"%></div>


			<% end %>


		<% end %>

		<% bettor = bettor + 1 %>

	<% end %>

	<br>
	<br>

	<% bettor = 1 %>


	<p>DOG BETTORS</p>

	<% @dog_spread_info.each do |b| %>

		<% if @matchup.sport == "MLB" %>

			<% if @matchup.dog_ml.to_i < 130 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_twenty_rating].to_s + " over last twenty"%></div>

			<% elsif @matchup.dog_ml.to_i >= 130 && @matchup.dog_ml.to_i < 160 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_twenty_rating].to_s + " over last twenty"%></div>

			<% elsif  @matchup.dog_ml.to_i >= 160 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_twenty_rating].to_s + " over last twenty"%></div>


			<% end %>

		<% else %>

			<% if (@matchup.spread.to_f).abs < 4 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_twenty_rating].to_s + " over last twenty"%></div>


			<% elsif (@matchup.spread.to_f).abs >= 4 && (@matchup.spread.to_f).abs < 8 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_twenty_rating].to_s + " over last twenty"%></div>

			<% elsif (@matchup.spread.to_f).abs >= 8 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_five_rating].to_s + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_ten_rating].to_s + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_twenty_rating].to_s + " over last twenty"%></div>


			<% end %>


		<% end %>

		<% bettor = bettor + 1 %>

	<% end %>

	<% bettor = 1 %>

	<p>OVR SPREAD %</p>

	<% @ovr_spread_info.each do |b| %>

		<div>

			<% if @matchup.sport == "MLB" %>

				<% if @matchup.total.to_f < 8 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating].to_s + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating].to_s + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating].to_s + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 8 && @matchup.total.to_f < 10 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating].to_s + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 10 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating].to_s + " last 20 games" %></div>

				<% end %>

				<% bettor = bettor + 1 %>

			<% elsif @matchup.sport == "NFL" %>

				<% if @matchup.total.to_f < 48 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating].to_s + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating].to_s + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating].to_s + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 48 && @matchup.total.to_f < 53 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating].to_s + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 53 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating].to_s + " last 20 games" %></div>


				<% end %>

				<% bettor = bettor + 1 %>


			<% elsif @matchup.sport == "NBA" %>

				<% if @matchup.total.to_f < 220 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating].to_s + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating].to_s + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating].to_s + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 220 && @matchup.total.to_f < 228 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating].to_s + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 228 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating].to_s + " last 20 games" %></div>


				<% end %>

				<% bettor = bettor + 1 %>


			<% end %>

		</div>

	<% end %>

	

	<br>
	<br>

	<% bettor = 1 %>

	<p>UND RANGE %</p>

	<% @und_spread_info.each do |b| %>

		<div>

			<% if @matchup.sport == "MLB" %>

				<% if @matchup.total.to_f < 8 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating].to_s + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating].to_s + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating].to_s + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 8 && @matchup.total.to_f < 10 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating].to_s + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 10 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating].to_s + " last 20 games" %></div>

				<% end %>

				<% bettor = bettor + 1 %>

			<% elsif @matchup.sport == "NFL" %>

				<% if @matchup.total.to_f < 48 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating].to_s + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating].to_s + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating].to_s + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 48 && @matchup.total.to_f < 53 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating].to_s + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 53 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating].to_s + " last 20 games" %></div>


				<% end %>

				<% bettor = bettor + 1 %>


			<% elsif @matchup.sport == "NBA" %>

				<% if @matchup.total.to_f < 220 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating].to_s + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating].to_s + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating].to_s + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 220 && @matchup.total.to_f < 228 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating].to_s + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 228 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating].to_s + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating].to_s + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating].to_s + " last 20 games" %></div>


				<% end %>

				<% bettor = bettor + 1 %>


			<% end %>

		</div>

	<% end %>

	<br>
	<br>

	<% bettor = 1 %>

	<div>
		
		<p>CHOICE %</p><div><p>FAV BETTORS</p>



		<% @fav_choice_info.each do |b| %>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_five_rating].to_s + " over last five"%></div>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_ten_rating].to_s + " over last ten"%></div>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_twenty_rating].to_s + " over last twenty"%></div>

			<% bettor = bettor + 1 %>


		<% end %>

		</div>

		<br>
		<br>

		<div><p>DOG BETTORS</p>

		<% bettor = 1 %>



		<% @dog_choice_info.each do |b| %>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_five_rating].to_s + " over last five"%></div>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_ten_rating].to_s + " over last ten"%></div>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_twenty_rating].to_s + " over last twenty"%></div>

			<% bettor = bettor + 1 %>


		<% end %>

		</div>

		<div><p>UND BETTORS</p>

		<% bettor = 1 %>



		<% @und_choice_info.each do |b| %>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_five_rating].to_s + " over last five"%></div>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_ten_rating].to_s + " over last ten"%></div>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_twenty_rating].to_s + " over last twenty"%></div>

			<% bettor = bettor + 1 %>


		<% end %>

		</div>

		<div><p>OVR BETTORS</p>

		<% bettor = 1 %>



		<% @ovr_choice_info.each do |b| %>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_five_rating].to_s + " over last five"%></div>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_ten_rating].to_s + " over last ten"%></div>

			<div>bettor <%= " " + bettor.to_s + ": " + b[:last_twenty_rating].to_s + " over last twenty"%></div>

			<% bettor = bettor + 1 %>


		<% end %>

		</div>

	</div>

	<br>
	<br>

	






	</div>



</div>






<div id= "con_cont">

	<% if @matchup.sport == "MLB" %>

		<div class="matchup_label">
			
			<div id="match_fav" class="matchup_boxes"><%= @matchup.fav %></div>
			<div id="match_line" class="matchup_boxes"><%= @matchup.fav_ml %></div>
			<div id="match_dog" class="matchup_boxes"><%= @matchup.dog %></div>
			<div id="match_total" class="matchup_boxes"><%= @matchup.total + " O/U" %></div>



		</div>

	<% else %>

		<div class="matchup_label">
			
			<div id="match_fav" class="matchup_boxes"><%= @matchup.fav %></div>
			<div id="match_line" class="matchup_boxes"><%= @matchup.spread %></div>
			<div id="match_dog" class="matchup_boxes"><%= @matchup.dog %></div>
			<div id="match_total" class="matchup_boxes"><%= @matchup.total + " O/U" %></div>



		</div>
	
	<% end %>

	<div class="info_label">
		
		<div class = "side_label">SIDES INFO: <div id="match_sides" class="matchup_boxes"><%= @on_side.to_s + " " + "Selections" %></div></div>

	</div>

	<div id="team_labels">

		<div id="fav_label" class="con_boxes">

			<% if @matchup.sport == "MLB" %>

				<%= @matchup.fav + " " + @matchup.fav_ml + "(" + @favs_obj.length.to_s + ")" %>

			<% else %>

				<%= @matchup.fav + " " + @matchup.spread + "(" + @favs_obj.length.to_s + ")"%>

			<% end %>
			

		</div>
		<div id="dog_label" class="con_boxes">
			
			<% if @matchup.sport == "MLB" %>

				<% if @matchup.dog_ml.to_i < 0 %>

					<%= @matchup.dog + " " + @matchup.dog_ml + "(" + @dogs_obj.length.to_s + ")" %>

				<% else %>

					<%= @matchup.dog + " " + "+" + @matchup.dog_ml + "(" + @dogs_obj.length.to_s + ")" %>


				<% end %>

			<% else %>

				<%= @matchup.dog + " " + "+" + (@matchup.spread.to_f * -1).to_s  + "(" + @dogs_obj.length.to_s + ")" %>

			<% end %>

		</div>

		<div id="fav_box" class="con_boxes">
			
			<%= @fav_prcnt %>

		</div>

		<div id="dog_box" class="con_boxes">
			
			<%= @dog_prcnt %>

		</div>

	</div>

	<div id="adv_met"><div id="adv_met_label">ADVANCED METRICS</div>

		<div class = "met_link_box">

			<div id="last_five_sport" class="met_links"><%= @matchup.sport %> RATING FOR LAST 5 GAMES</div>
			<div id="last_ten_sport" class="met_links"><%= @matchup.sport %> RATING FOR LAST 10 GAMES</div>
			<div id="last_twenty_sport" class="met_links"><%= @matchup.sport %> RATING FOR LAST 20 GAMES</div>

		</div>

		<div class = "met_link_box">

			<% if @matchup.sport == "MLB" %>

				<% if @fav_line == "low" %>

					<div id="last_five_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 5 LOW SPREAD GAMES</div>
					<div id="last_ten_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 10 LOW SPREAD GAMES</div>
					<div id="last_twenty_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 20 LOW SPREAD GAMES</div>
				
				<% elsif @fav_line == "med" %>

					<div id="last_five_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 5 MED SPREAD GAMES</div>
					<div id="last_ten_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 10 MED SPREAD GAMES</div>
					<div id="last_twenty_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 20 MED SPREAD GAMES</div>
				
				<% elsif @fav_line == "hi" %>

					<div id="last_five_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 5 HI SPREAD GAMESGAMES</div>
					<div id="last_ten_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 10 HI SPREAD GAMESGAMES</div>
					<div id="last_twenty_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 20 LOW SPREAD GAMESGAMES</div>

				<% end %>

			<% else %>

				<% if @spread_line == "low" %>

					<div id="last_five_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 5 LOW SPREAD GAMES</div>
					<div id="last_ten_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 10 LOW SPREAD GAMES</div>
					<div id="last_twenty_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 20 LOW SPREAD GAMES</div>
				
				<% elsif @spread_line == "med" %>

					<div id="last_five_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 5 MED SPREAD GAMES</div>
					<div id="last_ten_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 10 MED SPREAD GAMES</div>
					<div id="last_twenty_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 20 MED SPREAD GAMES</div>
				
				<% elsif @spread_line == "hi" %>

					<div id="last_five_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 5 HI SPREAD GAMESGAMES</div>
					<div id="last_ten_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 10 HI SPREAD GAMESGAMES</div>
					<div id="last_twenty_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 20 LOW SPREAD GAMESGAMES</div>
				
				<% end %>


			<% end %>

		</div>

		<div class= "met_link_box">
			
			<div id="last_five_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 5 GAMES AS A FAV/DOG </div>
			<div id="last_ten_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 10 GAMES AS A FAV/DOG</div>
			<div id="last_twenty_spread" class="met_links"><%= @matchup.sport %> RATING FOR LAST 20 GAMES AS A FAV/DOG</div>

		</div>

		<div id="count_cont">

			<div id="fav_met" class = "metric_boxes">

				<div class= "label_count">
					
					<div id="on_fire_fav" class="met_boxes">ON FIRE:</div>

					<div id="on_fire_count_fav" class= "met_boxes" style="display: inline-block; vertical-align: top; color: red;"></div>

				</div>

				<div class= "label_count">
				
					<div id="hot_fav" class="met_boxes">HOT:</div> 

					<div id="hot_count_fav" class= "met_boxes" style="display: inline-block; vertical-align: top; color: orange;"></div>

				</div>

				<div class= "label_count">
					
					<div id="choppy_fav" class="met_boxes">CHOPPY: </div><div id="choppy_count_fav" class= "met_boxes" style="display: inline-block; vertical-align: top;"></div>

				</div>

				<div class="label_count">
				
					<div id="cold_fav" class="met_boxes">COLD: </div>

					<div id="cold_count_fav" class= "met_boxes" style="display: inline-block; vertical-align: top; color: blue;"></div>

				</div>

				<div class="label_count">
				
					<div id="frigid_fav" class="met_boxes">FRIGID: </div>

					<div id="frigid_count_fav" class= "met_boxes" style="display: inline-block; vertical-align: top; color: darkblue;"></div>

				</div>

				<div class="label_count">
				
					<div id="nr_fav" class="met_boxes">NO RATING: </div>

					<div id="nr_count_fav" class= "met_boxes" style="display: inline-block; vertical-align: top; color: gray;"></div>
				</div>



			</div>

			<div id="dog_met" class = "metric_boxes">

				<div class= "label_count">
					
					<div id="on_fire_dog" class="met_boxes">ON FIRE:</div>

					<div id="on_fire_count_dog" class= "met_boxes" style="display: inline-block; vertical-align: top; color: red;"></div>

				</div>

				<div class= "label_count">
				
					<div id="hot_dog" class="met_boxes">HOT:</div> 

					<div id="hot_count_dog" class= "met_boxes" style="display: inline-block; vertical-align: top; color: orange;"></div>

				</div>

				<div class= "label_count">
					
					<div id="choppy_dog" class="met_boxes">CHOPPY: </div><div id="choppy_count_dog" class= "met_boxes" style="display: inline-block; vertical-align: top;"></div>

				</div>

				<div class="label_count">
				
					<div id="cold_dog" class="met_boxes">COLD: </div>

					<div id="cold_count_dog" class= "met_boxes" style="display: inline-block; vertical-align: top; color: blue;"></div>

				</div>

				<div class="label_count">
				
					<div id="frigid_dog" class="met_boxes">FRIGID: </div>

					<div id="frigid_count_dog" class= "met_boxes" style="display: inline-block; vertical-align: top; color: darkblue;"></div>

				</div>

				<div class="label_count">
				
					<div id="nr_dog" class="met_boxes">NO RATING: </div>

					<div id="nr_count_dog" class= "met_boxes" style="display: inline-block; vertical-align: top; color: gray;"></div>
				</div>



			</div>


		</div>

		<script>

			var lastFiveSport = document.getElementById("last_five_sport")
			var lastTenSport = document.getElementById("last_ten_sport")
			var lastTwentySport = document.getElementById("last_twenty_sport")

			lastFiveSport.addEventListener("click", function(){

				var lastFiveSportFrigid = 0
				var lastFiveSportCold = 0
				var lastFiveSportChoppy = 0
				var lastFiveSportHot = 0
				var lastFiveSportOnFire = 0
				var lastFiveSportNoRating = 0

				<% @fav_bettors_info.each do |b| %>

					<% if b[:last_five_rating] == "frigid" %>

						lastFiveSportFrigid++


					<% elsif b[:last_five_rating] == "cold" %>

						lastFiveSportCold++

					<% elsif b[:last_five_rating] == "choppy" %>

						lastFiveSportChoppy++


					<% elsif b[:last_five_rating] == "hot" %>

						lastFiveSportHot++

					<% elsif b[:last_five_rating] == "on fire" %>

						lastFiveSportOnFire++
					<% elsif b[:last_five_rating] == "none" %>

						lastFiveSportNoRating++

					<% end %>



				<% end %>

				on_fire_count_fav.innerHTML = lastFiveSportOnFire
				hot_count_fav.innerHTML = lastFiveSportHot
				choppy_count_fav.innerHTML = lastFiveSportChoppy
				cold_count_fav.innerHTML = lastFiveSportCold
				frigid_count_fav.innerHTML = lastFiveSportFrigid
				nr_count_fav.innerHTML = lastFiveSportNoRating

				lastFiveSportFrigid = 0
				lastFiveSportCold = 0
				lastFiveSportChoppy = 0
				lastFiveSportHot = 0
				lastFiveSportOnFire = 0
				lastFiveSportNoRating = 0

				<% @dog_bettors_info.each do |b| %>

					<% if b[:last_five_rating] == "frigid" %>

						lastFiveSportFrigid++


					<% elsif b[:last_five_rating] == "cold" %>

						lastFiveSportCold++

					<% elsif b[:last_five_rating] == "choppy" %>

						lastFiveSportChoppy++


					<% elsif b[:last_five_rating] == "hot" %>

						lastFiveSportHot++

					<% elsif b[:last_five_rating] == "on fire" %>

						lastFiveSportOnFire++
					<% elsif b[:last_five_rating] == "none" %>

						lastFiveSportNoRating++

					<% end %>



				<% end %>

				on_fire_count_dog.innerHTML = lastFiveSportOnFire
				hot_count_dog.innerHTML = lastFiveSportHot
				choppy_count_dog.innerHTML = lastFiveSportChoppy
				cold_count_dog.innerHTML = lastFiveSportCold
				frigid_count_dog.innerHTML = lastFiveSportFrigid
				nr_count_dog.innerHTML = lastFiveSportNoRating


			})

			lastTenSport.addEventListener("click", function(){

				var lastTenSportFrigid = 0
				var lastTenSportCold = 0
				var lastTenSportChoppy = 0
				var lastTenSportHot = 0
				var lastTenSportOnFire = 0
				var lastTenSportNoRating = 0

				<% @fav_bettors_info.each do |b| %>

					<% if b[:last_ten_rating] == "frigid" %>

						lastTenSportFrigid++


					<% elsif b[:last_ten_rating] == "cold" %>

						lastTenSportCold++

					<% elsif b[:last_ten_rating] == "choppy" %>

						lastTenSportChoppy++


					<% elsif b[:last_ten_rating] == "hot" %>

						lastTenSportHot++

					<% elsif b[:last_ten_rating] == "on fire" %>

						lastTenSportOnFire++
					
					<% elsif b[:last_ten_rating] == "none" %>

						lastTenSportNoRating++

					<% end %>



				<% end %>

				on_fire_count_fav.innerHTML = lastTenSportOnFire
				hot_count_fav.innerHTML = lastTenSportHot
				choppy_count_fav.innerHTML = lastTenSportChoppy
				cold_count_fav.innerHTML = lastTenSportCold
				frigid_count_fav.innerHTML = lastTenSportFrigid
				nr_count_fav.innerHTML = lastTenSportNoRating

				lastTenSportFrigid = 0
				lastTenSportCold = 0
				lastTenSportChoppy = 0
				lastTenSportHot = 0
				lastTenSportOnFire = 0
				lastTenSportNoRating = 0

				<% @dog_bettors_info.each do |b| %>

					<% if b[:last_ten_rating] == "frigid" %>

						lastTenSportFrigid++


					<% elsif b[:last_ten_rating] == "cold" %>

						lastTenSportCold++

					<% elsif b[:last_ten_rating] == "choppy" %>

						lastTenSportChoppy++


					<% elsif b[:last_ten_rating] == "hot" %>

						lastTenSportHot++

					<% elsif b[:last_ten_rating] == "on fire" %>

						lastTenSportOnFire++
					
					<% elsif b[:last_ten_rating] == "none" %>

						lastTenSportNoRating++

					<% end %>



				<% end %>

				on_fire_count_dog.innerHTML = lastTenSportOnFire
				hot_count_dog.innerHTML = lastTenSportHot
				choppy_count_dog.innerHTML = lastTenSportChoppy
				cold_count_dog.innerHTML = lastTenSportCold
				frigid_count_dog.innerHTML = lastTenSportFrigid
				nr_count_dog.innerHTML = lastTenSportNoRating


			})

			lastTwentySport.addEventListener("click", function(){

				var lastTwentySportFrigid = 0
				var lastTwentySportCold = 0
				var lastTwentySportChoppy = 0
				var lastTwentySportHot = 0
				var lastTwentySportOnFire = 0
				var lastTwentySportNoRating = 0

				<% @fav_bettors_info.each do |b| %>

					<% if b[:last_twenty_rating] == "frigid" %>

						lastTwentySportFrigid++


					<% elsif b[:last_twenty_rating] == "cold" %>

						lastTwentySportCold++

					<% elsif b[:last_twenty_rating] == "choppy" %>

						lastTwentySportChoppy++


					<% elsif b[:last_twenty_rating] == "hot" %>

						lastTwentySportHot++

					<% elsif b[:last_twenty_rating] == "on fire" %>

						lastTwentySportOnFire++
					
					<% elsif b[:last_twenty_rating] == "none" %>

						lastTwentySportNoRating++

					<% end %>



				<% end %>

				on_fire_count_fav.innerHTML = lastTwentySportOnFire
				hot_count_fav.innerHTML = lastTwentySportHot
				choppy_count_fav.innerHTML = lastTwentySportChoppy
				cold_count_fav.innerHTML = lastTwentySportCold
				frigid_count_fav.innerHTML = lastTwentySportFrigid
				nr_count_fav.innerHTML = lastTwentySportNoRating

				lastTwentySportFrigid = 0
				lastTwentySportCold = 0
				lastTwentySportChoppy = 0
				lastTwentySportHot = 0
				lastTwentySportOnFire = 0
				lastTwentySportNoRating = 0

				<% @dog_bettors_info.each do |b| %>

					<% if b[:last_twenty_rating] == "frigid" %>

						lastTwentySportFrigid++


					<% elsif b[:last_twenty_rating] == "cold" %>

						lastTwentySportCold++

					<% elsif b[:last_twenty_rating] == "choppy" %>

						lastTwentySportChoppy++


					<% elsif b[:last_twenty_rating] == "hot" %>

						lastTwentySportHot++

					<% elsif b[:last_twenty_rating] == "on fire" %>

						lastTwentySportOnFire++
					
					<% elsif b[:last_twenty_rating] == "none" %>

						lastTwentySportNoRating++

					<% end %>



				<% end %>

				on_fire_count_dog.innerHTML = lastTwentySportOnFire
				hot_count_dog.innerHTML = lastTwentySportHot
				choppy_count_dog.innerHTML = lastTwentySportChoppy
				cold_count_dog.innerHTML = lastTwentySportCold
				frigid_count_dog.innerHTML = lastTwentySportFrigid
				nr_count_dog.innerHTML = lastTwentySportNoRating


			})


		</script>
		


	</div>

	<div class="info_label">
		
		<div class = "total_label">TOTAL INFO: <div id="match_total" class="matchup_boxes"><%= @on_total.to_s + " " + "Selections" %></div></div>

	</div>

	<div id="team_labels">

		<div id="ovr_label" class="con_boxes">

			

			<%= "OVR" + " " + @matchup.total + "(" + @ovr_obj.length.to_s + ")" %>
			

		</div>
		<div id="und_label" class="con_boxes">
			
			

			<%= "UND" + " " + @matchup.total + "(" + @und_obj.length.to_s + ")"%>



		</div>

		<div id="ovr_box" class="con_boxes">
			
			<%= @ovr_prcnt %>

		</div>

		<div id="und_box" class="con_boxes">
			
			<%= @und_prcnt %>

		</div>

	</div>
	


</div>



	

	

	

	

















