<% @test1 %>
<% @test2 %>
<% @test3 %>
<% @test4 %>
<% @team_check = [] %>

<% self.sort_picks_for_matchup %>
<% self.calc_percent %>
<% self.overall_sport %>
<% self.line_for_sport %>

<% bettor = 1 %>
<% dog_bettor = 1 %>
<% ovr_bettor = 1 %>
<% und_bettor = 1 %>

<div><p> OVERALL SPORT %</p><p>FAV BETTORS</p>


	<% @fav_bettors_info.each do |b| %>

		<div>bettor <%= " " + bettor.to_s + ": " + b[:last_five_rating] + " over last five"%></div>

		<div>bettor <%= " " + bettor.to_s + ": " + b[:last_ten_rating] + " over last ten"%></div>

		<div>bettor <%= " " + bettor.to_s + ": " + b[:last_twenty_rating] + " over last twenty"%></div>

		<% bettor = bettor + 1 %>


	<% end %>

	<br>
	<br>

	<p>DOG BETTORS</p>

	<% @dog_bettors_info.each do |b| %>

		<div>bettor <%= " " + dog_bettor.to_s + ": " + b[:last_five_rating] + " over last five"%></div>

		<div>bettor <%= " " + dog_bettor.to_s + ": " + b[:last_ten_rating] + " over last ten"%></div>

		<div>bettor <%= " " + dog_bettor.to_s + ": " + b[:last_twenty_rating] + " over last twenty"%></div>

		<% dog_bettor = dog_bettor + 1 %>


	<% end %>

	<br>
	<br>

	<p>OVER BETTORS</p>

	<% @ovr_bettors_info.each do |b| %>

		<div>bettor <%= " " + ovr_bettor.to_s + ": " + b[:last_five_rating] + " over last five totals"%></div>

		<div>bettor <%= " " + ovr_bettor.to_s + ": " + b[:last_ten_rating] + " over last ten totals"%></div>

		<div>bettor <%= " " + ovr_bettor.to_s + ": " + b[:last_twenty_rating] + " over last twenty totals"%></div>

		<% ovr_bettor = ovr_bettor + 1 %>


	<% end %>

	<br>
	<br>
	<p>UND BETTORS</p>

	<% @und_bettors_info.each do |b| %>

		<div>bettor <%= " " + und_bettor.to_s + ": " + b[:last_five_rating] + " over last five totals"%></div>

		<div>bettor <%= " " + und_bettor.to_s + ": " + b[:last_ten_rating] + " over last ten totals"%></div>

		<div>bettor <%= " " + und_bettor.to_s + ": " + b[:last_twenty_rating] + " over last twenty totals"%></div>

		<% und_bettor = und_bettor + 1 %>


	<% end %>

</div>

<% bettor = 1 %>
<% dog_bettor = 1 %>
<% ovr_bettor = 1 %>
<% und_bettor = 1 %>

<div><p>SPREAD %</p><p>FAV BETTORS</p>

	<% @fav_spread_info.each do |b| %>

		<% if @matchup.sport == "MLB" %>

			<% if @matchup.fav_ml.to_i > -130 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_twenty_rating] + " over last twenty"%></div>

			<% elsif @matchup.fav_ml.to_i <= -130 && @matchup.fav_ml.to_i > -160 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_twenty_rating] + " over last twenty"%></div>

			<% else %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_twenty_rating] + " over last twenty"%></div>


			<% end %>

		<% else %>

			<% if (@matchup.spread.to_f).abs < 4 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_twenty_rating] + " over last twenty"%></div>


			<% elsif (@matchup.spread.to_f).abs >= 4 && (@matchup.spread.to_f).abs < 8 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_twenty_rating] + " over last twenty"%></div>

			<% elsif (@matchup.spread.to_f).abs >= 8 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_twenty_rating] + " over last twenty"%></div>


			<% end %>


		<% end %>

		<% bettor = bettor + 1 %>

	<% end %>

	<br>
	<br>

	<% bettor = 1 %>

	<p>DOG BETTORS</p>

	<% @dog_spread_info.each do |b| %>

		<% if @matchup.sport == "MLB" %>

			<% if @matchup.dog_ml.to_i < 130 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_twenty_rating] + " over last twenty"%></div>

			<% elsif @matchup.dog_ml.to_i >= 130 && @matchup.dog_ml.to_i < 160 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_twenty_rating] + " over last twenty"%></div>

			<% else %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_twenty_rating] + " over last twenty"%></div>


			<% end %>

		<% else %>

			<% if (@matchup.spread.to_f).abs < 4 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:low_spread_twenty_rating] + " over last twenty"%></div>


			<% elsif (@matchup.spread.to_f).abs >= 4 && (@matchup.spread.to_f).abs < 8 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:med_spread_twenty_rating] + " over last twenty"%></div>

			<% elsif (@matchup.spread.to_f).abs >= 8 %>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_five_rating] + " over last five"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_ten_rating] + " over last ten"%></div>

				<div>bettor <%= " " + bettor.to_s + ": " + b[:hi_spread_twenty_rating] + " over last twenty"%></div>


			<% end %>


		<% end %>

		<% bettor = bettor + 1 %>

	<% end %>

	<% bettor = 1 %>

	<p>OVR SPREAD %</p>

	<% @ovr_spread_info.each do |b| %>

		<div>

			<% if @matchup.sport == "MLB" %>

				<% if @matchup.total.to_f < 8 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating] + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating] + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating] + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 8 && @matchup.total.to_f < 10 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating] + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 10 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating] + " last 20 games" %></div>

				<% end %>

				<% bettor = bettor + 1 %>

			<% elsif @matchup.sport == "NFL" %>

				<% if @matchup.total.to_f < 48 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating] + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating] + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating] + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 48 && @matchup.total.to_f < 53 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating] + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 53 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating] + " last 20 games" %></div>


				<% end %>

				<% bettor = bettor + 1 %>


			<% elsif @matchup.sport == "NBA" %>

				<% if @matchup.total.to_f < 220 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating] + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating] + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating] + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 220 && @matchup.total.to_f < 228 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating] + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 228 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating] + " last 20 games" %></div>


				<% end %>

				<% bettor = bettor + 1 %>


			<% end %>

		</div>

	<% end %>

	<br>
	<br>

	<% bettor = 1 %>

	<p>UND RANGE %</p>

	<% @und_spread_info.each do |b| %>

		<div>

			<% if @matchup.sport == "MLB" %>

				<% if @matchup.total.to_f < 8 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating] + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating] + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating] + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 8 && @matchup.total.to_f < 10 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating] + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 10 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating] + " last 20 games" %></div>

				<% end %>

				<% bettor = bettor + 1 %>

			<% elsif @matchup.sport == "NFL" %>

				<% if @matchup.total.to_f < 48 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating] + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating] + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating] + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 48 && @matchup.total.to_f < 53 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating] + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 53 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating] + " last 20 games" %></div>


				<% end %>

				<% bettor = bettor + 1 %>


			<% elsif @matchup.sport == "NBA" %>

				<% if @matchup.total.to_f < 220 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_five_rating] + " last 5 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_ten_rating] + " last 10 games"  %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:low_last_twenty_rating] + " last 20 games"  %></div>


				<% elsif @matchup.total.to_f >= 220 && @matchup.total.to_f < 228 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:med_last_twenty_rating] + " last 20 games" %></div>

				<% elsif @matchup.total.to_f >= 228 %>

					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_five_rating] + " last 5 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_ten_rating] + " last 10 games" %></div>
					<div>Bettor:<%= " " + bettor.to_s + " " + b[:hi_last_twenty_rating] + " last 20 games" %></div>


				<% end %>

				<% bettor = bettor + 1 %>


			<% end %>

		</div>

	<% end %>

	<br>
	<br>



</div>






<div id= "con_cont">

	<% if @matchup.sport == "MLB" %>

		<div class="matchup_label">
			
			<div id="match_fav" class="matchup_boxes"><%= @matchup.fav %></div>
			<div id="match_line" class="matchup_boxes"><%= @matchup.fav_ml %></div>
			<div id="match_dog" class="matchup_boxes"><%= @matchup.dog %></div>
			<div id="match_total" class="matchup_boxes"><%= @matchup.total + " O/U" %></div>



		</div>

	<% else %>

		<div class="matchup_label">
			
			<div id="match_fav" class="matchup_boxes"><%= @matchup.fav %></div>
			<div id="match_line" class="matchup_boxes"><%= @matchup.spread %></div>
			<div id="match_dog" class="matchup_boxes"><%= @matchup.dog %></div>
			<div id="match_total" class="matchup_boxes"><%= @matchup.total + " O/U" %></div>



		</div>
	
	<% end %>

	<div class="info_label">
		
		<div class = "side_label">SIDES INFO: <div id="match_sides" class="matchup_boxes"><%= @on_side.to_s + " " + "Selections" %></div></div>

	</div>

	<div id="team_labels">

		<div id="fav_label" class="con_boxes">

			<% if @matchup.sport == "MLB" %>

				<%= @matchup.fav + " " + @matchup.fav_ml + "(" + @favs_obj.length.to_s + ")" %>

			<% else %>

				<%= @matchup.fav + " " + @matchup.spread + "(" + @favs_obj.length.to_s + ")"%>

			<% end %>
			

		</div>
		<div id="dog_label" class="con_boxes">
			
			<% if @matchup.sport == "MLB" %>

				<% if @matchup.dog_ml.to_i < 0 %>

					<%= @matchup.dog + " " + @matchup.dog_ml + "(" + @dogs_obj.length.to_s + ")" %>

				<% else %>

					<%= @matchup.dog + " " + "+" + @matchup.dog_ml + "(" + @dogs_obj.length.to_s + ")" %>


				<% end %>

			<% else %>

				<%= @matchup.dog + " " + "+" + (@matchup.spread.to_f * -1).to_s  + "(" + @dogs_obj.length.to_s + ")" %>

			<% end %>

		</div>

		<div id="fav_box" class="con_boxes">
			
			<%= @fav_prcnt %>

		</div>

		<div id="dog_box" class="con_boxes">
			
			<%= @dog_prcnt %>

		</div>

	</div>

	<div class="info_label">
		
		<div class = "total_label">TOTAL INFO: <div id="match_total" class="matchup_boxes"><%= @on_total.to_s + " " + "Selections" %></div></div>

	</div>

	<div id="team_labels">

		<div id="ovr_label" class="con_boxes">

			

			<%= "OVR" + " " + @matchup.total + "(" + @ovr_obj.length.to_s + ")" %>
			

		</div>
		<div id="und_label" class="con_boxes">
			
			

			<%= "UND" + " " + @matchup.total + "(" + @und_obj.length.to_s + ")"%>



		</div>

		<div id="ovr_box" class="con_boxes">
			
			<%= @ovr_prcnt %>

		</div>

		<div id="und_box" class="con_boxes">
			
			<%= @und_prcnt %>

		</div>

	</div>
	


</div>







