<% @team_holder = [] %>
<% @test = [] %>
<% @bullpen_runs %>

<% @runs_for_standings = [] %>
<% @runs_against_standings = [] %>
<% @at_bats_for_standings = [] %>
<% @at_bats_against_standings = [] %>
<% @runs_per_at_bat_standings = [] %>
<% @hits_per_nine_standings = [] %>
<% @hits_per_run_standings = [] %>
<% @pitches_faced_standings = [] %>
<% @runs_per_pitch_standings = [] %>
<% @starter_workload_standings = [] %>
<% @bullpen_workload_standings = [] %>
<% @quality_at_bats_per_run_standings = [] %>
<% @runs_against_per_ab_standings = [] %>
<% @runs_against_per_nine_standings = [] %>
<% @hits_against_per_nine_standings = [] %>
<% @hits_against_per_run_against_standings = [] %>
<% @starter_workload_against_standings = [] %>
<% @bullpen_workload_against_standings = [] %>
<% @bullpen_rpp_standings = [] %>

<% @team_starter_workload = [] %>


<% self.get_team_rankings %>
<% self.sort_teams_by_category(@team_holder) %>



<div style="margin: auto; font-size: 25px; text-align: center; margin-top: 3%;">NATIONAL LEAGUE STATS SINCE MAY 13TH</div>






<div class ="stats_container">
	
	<div class="stat_display">
		
		<div class="stat_heading">RUNS PER GAME</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @runs_for_standings.each do |r| %>

				<% @position = @runs_for_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>



				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:runs_for].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">RUNS AGAINST PER GAME</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @runs_against_standings.each do |r| %>

				<% @position = @runs_against_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:runs_against].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">AT-BATS PER 9</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @at_bats_for_standings.each do |r| %>

				<% @position = @at_bats_for_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:at_bats_for].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">AT-BATS AGAINST PER 9</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @at_bats_against_standings.each do |r| %>

				<% @position = @at_bats_against_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:at_bats_against].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">AT-BATS TO PRODUCE 1 RUN</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @runs_per_at_bat_standings.each do |r| %>

				<% @position = @runs_per_at_bat_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:runs_per_ab].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">HITS FOR PER 9</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @hits_per_nine_standings.each do |r| %>

				<% @position = @hits_per_nine_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<% r[:hits_per_nine] = r[:hits_per_nine].round(2) %>

						<%= @position + " " + r[:team] + "  " + r[:hits_per_nine].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">HITS PER RUN</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @hits_per_run_standings.each do |r| %>

				<% @position = @hits_per_run_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:hits_per_run].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">PITCHES FORCED ON OPPONENT</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @pitches_faced_standings.each do |r| %>

				<% @position = @pitches_faced_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<% r[:pitches_seen_per_game] = r[:pitches_seen_per_game].round(2) %>

						<%= @position + " " + r[:team] + "  " + r[:pitches_seen_per_game].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">PITCHES AGAINST PER RUN</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @runs_per_pitch_standings.each do |r| %>

				<% @position = @runs_per_pitch_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<% pitches_against_per_run = (100.0 / (r[:runs_for_per_pitch].to_f * 100.0)).round(2) %>

						<% pitches_against_per_run = pitches_against_per_run.to_s %>

						<%= @position + " " + r[:team] + "  " + pitches_against_per_run %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">STARTER WORKLOAD PER GAME</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @starter_workload_standings.each do |r| %>

				<% @position = @starter_workload_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:starter_workload] %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">BULLPEN WORKLOAD PER GAME</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @bullpen_workload_standings.each do |r| %>

				<% @position = @bullpen_workload_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:bullpen_workload] %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">OPP AT-BATS TO PRODUCE 1 RUN</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @runs_against_per_ab_standings.each do |r| %>

				<% @position = @runs_against_per_ab_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:runs_against_per_ab].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">HITS AGAINST PER 9</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @hits_against_per_nine_standings.each do |r| %>

				<% @position = @hits_against_per_nine_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:opp_hits_per_nine].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">HITS AGAINST PER RUN AGAINST</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @hits_against_per_run_against_standings.each do |r| %>

				<% @position = @hits_against_per_run_against_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:opp_hits_per_run].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">OPP STARTER WORKLOAD</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @starter_workload_against_standings.each do |r| %>

				<% @position = @starter_workload_against_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:opp_starter_workload].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">OPP BULLPEN WORKLOAD</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @bullpen_workload_against_standings.each do |r| %>

				<% @position = @bullpen_workload_against_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:opp_bullpen_workload].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>

	<div class="stat_display">
		
		<div class="stat_heading">BULLPEN PITCHES PER RUN</div>
		
		<div class = "stat_nums">

			<% @position %>	
			
			<% @bullpen_rpp_standings.each do |r| %>

				<% @position = @bullpen_rpp_standings.index(r) + 1 %>
				<% @position = @position.to_s + "." %>


				<div class="stat_line">
					
					<% if r.class == Hash %>

						<%= @position + " " + r[:team] + "  " + r[:bullpen_rpp].to_s %> 

					<% end %>


				</div>

			<% end %>

		</div>



	</div>


</div>



















