<%= form_for @pick do |p| %>

	<div>Sport: <%= p.text_field :sport %></div>
 	<div>Pick: <%= p.text_field :pick %></div>
 	<div>Line: <%= p.text_field :line %></div>
	
	<div>Result: <%= p.text_field :result %></div>
	<%= p.submit %>


<% end %>