<% @winners = [] %>
<% @losers = [] %>
<% @update = [] %>
<% @complete = [] %>
<% @against_moves = [] %>
<% @with_moves = [] %>
<% @no_moves = [] %>
<% @low_ag = [] %>
<% @high_ag = [] %>
<% @high_wit = [] %>
<% @low_wit = [] %>
<% @high_no = [] %>
<% @low_no = [] %>
<% @totals = [] %>
<% @sides = [] %>
<% @over_plays = [] %>
<% @under_plays = [] %>

<% @over_ag = [] %>
<% @over_wit = [] %>
<% @over_no = [] %>
<% @under_ag = [] %>
<% @under_wit = [] %>
<% @under_no = [] %>

<% @sides_ts = [] %>
<% @sides_rd = [] %>
<% @sides_ct = [] %>
<% @sides_rd = [] %>
<% @sides_sd = [] %>


<% @ag_wins = 0 %>
<% @ag_losses = 0 %>
<% @wit_wins = 0 %>
<% @wit_losses = 0 %>
<% @no_losses = 0 %>
<% @no_wins = 0 %>
<% @total_wins = 0 %>
<% @total_losses = 0 %>
<% @sides_wins = 0 %>
<% @sides_losses = 0 %>

<% @side_dog_winners = 0 %>
<% @side_dog_losers = 0 %>

<% @side_fav_winners = 0 %>
<% @side_fav_losers = 0 %>

<% @low_ag_wins = 0 %>
<% @low_wit_wins = 0 %>
<% @low_no_wins = 0 %>
<% @high_no_wins = 0 %>
<% @high_wit_wins = 0 %>
<% @high_ag_wins = 0 %>

<% @low_ag_losses = 0 %>
<% @low_wit_losses = 0 %>
<% @low_no_losses = 0 %>
<% @high_no_losses = 0 %>
<% @high_wit_losses = 0 %>
<% @high_ag_losses = 0 %>

<% @over_wins = 0 %>
<% @over_losses = 0 %>
<% @under_wins = 0 %>
<% @under_losses = 0 %>

<% @over_ag_wins = 0 %>
<% @over_ag_losses = 0 %>

<% @over_wit_wins = 0 %>
<% @over_wit_losses = 0 %>

<% @over_no_wins = 0 %>
<% @over_no_losses = 0 %>

<% @under_ag_wins = 0 %>
<% @under_ag_losses = 0 %>

<% @under_wit_wins = 0 %>
<% @under_wit_losses = 0 %>

<% @under_no_wins = 0 %>
<% @under_no_losses = 0 %>

<% @side_wins = 0 %>
<% @side_losses = 0 %>

<% @side_sd_ag_losses = 0 %>
<% @side_sd_ag_wins = 0 %>

<% @side_sd_wit_losses = 0 %>
<% @side_sd_wit_wins = 0 %>

<% @side_sd_no_losses = 0 %>
<% @side_sd_no_wins = 0 %>


<% @against_percentage %>
<% @with_percentage %>
<% @no_percentage %>

<% if current_user.admin == true %>

	<div id="pick_form">
	
		<%= form_for @pick do |p| %>

			<div>Sport: <%= p.text_field :sport %></div>
		 	<div>Type: <%= p.text_field :cat %></div>
		 	<div>Pick: <%= p.text_field :pick %></div>
		 	<div>Line: <%= p.text_field :line %></div>
		 	<div>Reason: <%= p.text_field :reason %></div>
		 	<div>Line Movement: <%= p.text_field :line_movement %></div>
		 	<div>Consensus: <%= p.text_field :consensus %></div>
		 	<div>Result: <%= p.text_field :result %></div>
		 	<%= p.submit %>



		<% end %>

	</div>

	<% @picks.all.each do |p| %>

		<% if p.result.length == 0 %>

			<% @update.push(p) %>

		<% else %>

			<% @complete.push(p) %>

		<% end %>


	<% end %>

	<div style=" margin-left: 45%">UPDATE PICKS

	<% @update.each do |u| %>

		<% info = u.pick + " " + u.line %>

		<div><%= link_to info, edit_pick_path(u.id) %></div>


	<% end %>

	</div>




	<% @complete.each do |c| %>

		<% if c.cat == "total" %>

			<% @totals.push(c) %>

		
		<% elsif c.cat == "side" %>

			<% @sides.push(c) %>
		
		<% end %>

		<% if c.line_movement == "against" %>

			<% @against_moves.push(c) %>

			<% if c.consensus == "low" %>

				<% @low_ag.push(c) %>

			<% elsif c.consensus == "high" %>

				<% @high_ag.push(c) %>

			<% end %>

		<% elsif c.line_movement == "with" %>

			<% @with_moves.push(c) %>

			<% if c.consensus == "low" %>

				<% @low_wit.push(c) %>

			<% elsif c.consensus == "high" %>

				<% @high_wit.push(c) %>

			<% end %>


		<% elsif c.line_movement == "none" %>

			<% @no_moves.push(c) %>

			<% if c.consensus == "low" %>

				<% @low_no.push(c) %>

			<% elsif c.consensus == "high" %>

				<% @high_no.push(c) %>

			<% end %>


		<% end %>

	<% end %>

	<% @against_moves.each do |a| %>


		<% if a.result == "win" %>

			<% @ag_wins += 1 %>


		<% elsif a.result == "loss" %>

			<% @ag_losses += 1 %>


		<% end %>

	<% end %>

	

	<% @with_moves.each do |a| %>

		<% if a.result == "win" %>

			<% @wit_wins += 1 %>


		<% elsif a.result == "loss" %>

			<% @wit_losses += 1 %>


		<% end %>

	<% end %>

	<% @no_moves.each do |a| %>

		<% if a.result == "win" %>

			<% @no_wins += 1 %>


		<% elsif a.result == "loss" %>

			<% @no_losses += 1 %>


		<% end %>

	<% end %>

	<% x = @ag_wins.to_i %>
	<% y = @ag_losses.to_i %>

	<% z = x + y %>

	<% @low_ag.each do |l| %>

		<% if l.result == "win" %>

			<% @low_ag_wins += 1 %>

		<% elsif l.result == "loss" %>

			<% @low_ag_losses += 1 %>

		<% end %>


	<% end %>

	<% @high_ag.each do |l| %>

		<% if l.result == "win" %>

			<% @high_ag_wins += 1 %>

		<% elsif l.result == "loss" %>

			<% @high_ag_losses += 1 %>

		<% end %>


	<% end %>

	<% @low_wit.each do |l| %>

		<% if l.result == "win" %>

			<% @low_wit_wins += 1 %>

		<% elsif l.result == "loss" %>

			<% @low_wit_losses += 1 %>

		<% end %>


	<% end %>

	<% @high_wit.each do |l| %>

		<% if l.result == "win" %>

			<% @high_wit_wins += 1 %>

		<% elsif l.result == "loss" %>

			<% @high_wit_losses += 1 %>

		<% end %>


	<% end %>

	<% @high_no.each do |l| %>

		<% if l.result == "win" %>

			<% @high_no_wins += 1 %>

		<% elsif l.result == "loss" %>

			<% @high_no_losses += 1 %>

		<% end %>


	<% end %>

	<% @low_no.each do |l| %>

		<% if l.result == "win" %>

			<% @low_no_wins += 1 %>

		<% elsif l.result == "loss" %>

			<% @low_no_losses += 1 %>

		<% end %>


	<% end %>

	<% @totals.each do |t| %>

		<% if t.pick[0].upcase == "O" %>

			<% @over_plays.push(t) %>

		<% elsif t.pick[0].upcase == "U" %>

			<% @under_plays.push(t) %>

		<% end %>

		<% if t.result == "win" %>

			<% @total_wins += 1 %>

		<% elsif t.result == "loss" %>

			<% @total_losses += 1 %>

		<% end %>


	<% end %>

	<% @over_plays.each do |p| %>

		<% if p.line_movement == "against" %>

			<% @over_ag.push(p) %>

		<% elsif p.line_movement == "with" %>

			<% @over_wit.push(p) %>

		<% elsif p.line_movement == "none" %>

			<% @over_no.push(p) %>

		<% end %>

		<% if p.result.downcase == "win" %>

			<% @over_wins += 1 %>

		<% elsif p.result.downcase == "loss" %>

			<% @over_losses += 1 %>


		<% end %>



	<% end %>

	<% @under_plays.each do |p| %>

		<% if p.line_movement == "against" %>

			<% @under_ag.push(p) %>

		<% elsif p.line_movement == "with" %>

			<% @under_wit.push(p) %>

		<% elsif p.line_movement == "none" %>

			<% @under_no.push(p) %>

		<% end %>

		<% if p.result.downcase == "win" %>

			<% @under_wins += 1 %>

		<% elsif p.result.downcase == "loss" %>

			<% @under_losses += 1 %>


		<% end %>



	<% end %>

	<% @over_ag.each do |p| %>

		<% if p.result.downcase == "win" %>

			<% @over_ag_wins += 1 %>

		<% elsif p.result.downcase == "loss" %>

			<% @over_ag_losses += 1 %>


		<% end %>



	<% end %>

	<% @over_wit.each do |p| %>

		<% if p.result.downcase == "win" %>

			<% @over_wit_wins += 1 %>

		<% elsif p.result.downcase == "loss" %>

			<% @over_wit_losses += 1 %>


		<% end %>



	<% end %>

	<% @over_no.each do |p| %>

		<% if p.result.downcase == "win" %>

			<% @over_no_wins += 1 %>

		<% elsif p.result.downcase == "loss" %>

			<% @over_no_losses += 1 %>


		<% end %>



	<% end %>

	<% @under_no.each do |p| %>

		<% if p.result.downcase == "win" %>

			<% @under_no_wins += 1 %>

		<% elsif p.result.downcase == "loss" %>

			<% @under_no_losses += 1 %>


		<% end %>



	<% end %>

	<% @under_wit.each do |p| %>

		<% if p.result.downcase == "win" %>

			<% @under_wit_wins += 1 %>

		<% elsif p.result.downcase == "loss" %>

			<% @under_wit_losses += 1 %>


		<% end %>



	<% end %>

	<% @under_ag.each do |p| %>

		<% if p.result.downcase == "win" %>

			<% @under_ag_wins += 1 %>

		<% elsif p.result.downcase == "loss" %>

			<% @under_ag_losses += 1 %>


		<% end %>



	<% end %>

	<% @sides.each do |s| %>

		<% if s.line[0] == "+" %>

			<% if s.result == "win" %>

				<% @side_dog_winners += 1 %>

			<% elsif s.result == "loss" %>

				<% @side_dog_losers += 1 %>

			<% end %>

		<% else %>

			<% if s.result == "win" %>

				<% @side_fav_winners += 1 %>

			<% elsif s.result == "loss" %>

				<% @side_fav_losers += 1 %>

			<% end %>

		<% end %>

		<% if s.reason == "s/d" %>


			<% @sides_sd.push(s) %>


		<% end %>

		<% if s.reason == "t/s" %>


			<% @sides_ts.push(s) %>


		<% end %>

		<% if s.reason == "r/d" %>


			<% @sides_rd.push(s) %>


		<% end %>

		<% if s.reason == "c/t" %>


			<% @sides_ct.push(s) %>


		<% end %>



	<% end %>

	<% @sides_sd.each do |s| %>

		<% if s.result == "win" %>

			<% @side_wins += 1 %>
		
		<% elsif s.result == "loss" %>

			<% @side_losses += 1 %>

		<% end %>

		<% if s.line_movement == "against" %>

			<% if s.result == "win" %>

				<% @side_sd_ag_wins += 1 %>

			<% elsif s.result == "loss" %>

				<% @side_sd_ag_losses += 1 %>

			<% end %>

		<% elsif s.line_movement == "with" %>

			<% if s.result == "win" %>

				<% @side_sd_wit_wins += 1 %>

			<% elsif s.result == "loss" %>

				<% @side_sd_wit_losses += 1 %>

			<% end %>


		<% elsif s.line_movement == "none" %>

			<% if s.result == "win" %>

				<% @side_sd_no_wins += 1 %>

			<% elsif s.result == "loss" %>

				<% @side_sd_no_losses += 1 %>

			<% end %>



		<% end %>


	<% end %>

	<% @loss_counter = 0 %>
	<% @win_counter = 0 %>

	<% @sides.each do |s| %>

		<% if s.result == "loss" %>

			<% @loss_counter += 1 %>

		<% elsif s.result == "win" %>

			<% @win_counter += 1 %>

		<% end %>

	<% end %>

	<% @s_record = "(" + @win_counter.to_s + " - " + @loss_counter.to_s + ")" %>

	<% @s_prcnt = (@win_counter.to_f / (@win_counter.to_f + @loss_counter.to_f) * 100).round(2) %>

	<% @s_prcnt = @s_prcnt.to_s + "%" %>


	<% @side_dog_record = "(" + @side_dog_winners.to_s + " - " + @side_dog_losers.to_s + ")" %>

	<% @side_fav_record = "(" + @side_fav_winners.to_s + " - " + @side_fav_losers.to_s + ")" %>

	<% @side_dog_prcnt = (@side_dog_winners.to_f / (@side_dog_losers.to_f + @side_dog_winners.to_f) * 100).round(2) %>

	<% @side_dog_prcnt = @side_dog_prcnt.to_s + "%" %>

	<% @side_fav_prcnt = (@side_fav_winners.to_f / (@side_fav_losers.to_f + @side_fav_winners.to_f) * 100).round(2) %>

	<% @side_fav_prcnt = @side_fav_prcnt.to_s + "%" %>

	<% @sides_record = "(" + @side_wins.to_s + " - " + @side_losses.to_s + ")" %>

	<% @sides_prcnt = (@side_wins.to_f / (@side_losses.to_f + @side_wins.to_f) * 100).round(2) %>

	<% @sides_prcnt = @sides_prcnt.to_s + "%" %>

	<% @sides_sd_win_total = @side_sd_ag_wins + @side_sd_wit_wins + @side_sd_no_wins %>

	<% @sides_sd_loss_total = @side_sd_ag_losses + @side_sd_wit_losses + @side_sd_no_losses %>

	<% @sides_sd_record = "(" + @sides_sd_win_total.to_s + " - " + @sides_sd_loss_total.to_s + ")" %>

	<% @sides_sd_prcnt = (@sides_sd_win_total.to_f / (@sides_sd_win_total.to_f + @sides_sd_loss_total.to_f) * 100).round(2) %>

	<% @sides_sd_prcnt = @sides_sd_prcnt.to_s + "%" %>

	<% @sides_sd_ag_prcnt = (@sides_sd_ag_wins.to_f / (@sides_sd_ag_wins.to_f + @sides_sd_ag_losses.to_f) * 100).round(2) %>

	<% @sides_sd_ag_prcnt = @sides_sd_ag_prcnt.to_s + "%" %>

	
	<% @sides_sd_ag_record = "(" + @side_sd_ag_wins.to_s + " - " + @side_sd_ag_losses.to_s + ")" %>

	<% @sides_sd_ag_prcnt = (@side_sd_ag_wins.to_f / (@side_sd_ag_wins.to_f + @side_sd_ag_losses.to_f) * 100).round(2) %>

	<% @sides_sd_ag_prcnt = @sides_sd_ag_prcnt.to_s + "%" %>

	
	<% @sides_sd_wit_record = "(" + @side_sd_wit_wins.to_s + " - " + @side_sd_wit_losses.to_s + ")" %>

	<% @sides_sd_wit_prcnt = (@side_sd_wit_wins.to_f / (@side_sd_wit_wins.to_f + @side_sd_wit_losses.to_f) * 100).round(2) %>

	<% @sides_sd_wit_prcnt = @sides_sd_wit_prcnt.to_s + "%" %>


	<% @sides_sd_no_record = "(" + @side_sd_no_wins.to_s + " - " + @side_sd_no_losses.to_s + ")" %>

	<% @sides_sd_no_prcnt = (@side_sd_no_wins.to_f / (@side_sd_no_wins.to_f + @side_sd_no_losses.to_f) * 100).round(2) %>

	<% @sides_sd_no_prcnt = @sides_sd_no_prcnt.to_s + "%" %>
	
	


	<% @over_ag_prcnt = (@over_ag_wins.to_f / (@over_ag_wins.to_f + @over_ag_losses.to_f) * 100).round(2) %>

	<% @over_wit_prcnt = (@over_wit_wins.to_f / (@over_wit_wins.to_f + @over_wit_losses.to_f) * 100).round(2) %>

	<% @over_no_prcnt = (@over_no_wins.to_f / (@over_no_wins.to_f + @over_no_losses.to_f) * 100).round(2) %>

	<% @under_ag_prcnt = (@under_ag_wins.to_f / (@under_ag_wins.to_f + @under_ag_losses.to_f) * 100).round(2) %>

	<% @under_wit_prcnt = (@under_wit_wins.to_f / (@under_wit_wins.to_f + @under_wit_losses.to_f) * 100).round(2) %>

	<% @under_no_prcnt = (@under_no_wins.to_f / (@under_no_wins.to_f + @under_no_losses.to_f) * 100).round(2) %>

	<% @over_ag_prcnt = @over_ag_prcnt.to_s + "%" %>
	<% @over_wit_prcnt = @over_wit_prcnt.to_s + "%" %>
	<% @over_no_prcnt = @over_no_prcnt.to_s + "%" %>

	<% @under_ag_prcnt = @under_ag_prcnt.to_s + "%" %>
	<% @under_wit_prcnt = @under_wit_prcnt.to_s + "%" %>
	<% @under_no_prcnt = @under_no_prcnt.to_s + "%" %>

	<% @over_ag_record = "(" + @over_ag_wins.to_s + " - " + @over_ag_losses.to_s + ")" %>

	<% @over_wit_record = "(" + @over_wit_wins.to_s + " - " + @over_wit_losses.to_s + ")" %>

	<% @over_no_record = "(" + @over_no_wins.to_s + " - " + @over_no_losses.to_s + ")" %>

	<% @under_ag_record = "(" + @under_ag_wins.to_s + " - " + @under_ag_losses.to_s + ")" %>

	<% @under_wit_record = "(" + @under_wit_wins.to_s + " - " + @under_wit_losses.to_s + ")" %>

	<% @under_no_record = "(" + @under_no_wins.to_s + " - " + @under_no_losses.to_s + ")" %>



	<% @totals_prcnt = ((@total_wins.to_f / (@total_wins.to_f + @total_losses.to_f)) * 100).round(2) %>

	<% @totals_prcnt = @totals_prcnt.to_s + "%" %>
	
	<% @totals_record = "(" + @total_wins.to_s + " - " + @total_losses.to_s + ")" %>

	<% @overs_prcnt = (@over_wins.to_f / (@over_wins.to_f + @over_losses.to_f) * 100).round(2) %>

	<% @overs_prcnt = @overs_prcnt.to_s + "%" %>

	<% @overs_record = "(" + @over_wins.to_s + " - " + @over_losses.to_s + ")" %>

	<% @unders_record = "(" + @under_wins.to_s + " - " + @under_losses.to_s + ")" %>

	<% @unders_prcnt = (@under_wins.to_f / (@under_wins.to_f + @under_losses.to_f) * 100).round(2) %>

	<% @unders_prcnt = @unders_prcnt.to_s + "%" %>

	<% @against_percentage = (x.to_f / z.to_f).round(2) %>
	<% @with_percentage = @wit_wins.to_f / (@wit_wins.to_f + @wit_losses.to_f) %>
	
	<% @no_percentage = @no_wins.to_f / (@no_wins.to_f + @no_losses.to_f) %>

	<% @low_ag_prcnt = @low_ag_wins.to_f / (@low_ag_wins + @low_ag_losses) %>
	<% @low_ag_prcnt = (@low_ag_prcnt * 100).round(2) %>
	<% @low_ag_prcnt = @low_ag_prcnt.to_s + "%" %> 

	<% @high_ag_prcnt = @high_ag_wins.to_f / (@high_ag_wins + @high_ag_losses) %>
	<% @high_ag_prcnt = (@high_ag_prcnt * 100).round(2) %>
	<% @high_ag_prcnt = @high_ag_prcnt.to_s + "%" %>

	<% @low_wit_prcnt = @low_wit_wins.to_f / (@low_wit_wins + @low_wit_losses) %>
	<% @low_wit_prcnt = (@low_wit_prcnt * 100).round(2) %>
	<% @low_wit_prcnt = @low_wit_prcnt.to_s + "%" %> 

	<% @high_wit_prcnt = @high_wit_wins.to_f / (@high_wit_wins + @high_wit_losses) %>
	<% @high_wit_prcnt = (@high_wit_prcnt * 100).round(2) %>
	<% @high_wit_prcnt = @high_wit_prcnt.to_s + "%" %>

	<% @high_no_prcnt = @high_no_wins.to_f / (@high_no_wins + @high_no_losses) %>
	<% @high_no_prcnt = (@high_no_prcnt * 100).round(2) %>
	<% @high_no_prcnt = @high_no_prcnt.to_s + "%" %>

	<% @low_no_prcnt = @low_no_wins.to_f / (@low_no_wins + @low_no_losses) %>
	<% @low_no_prcnt = (@low_no_prcnt * 100).round(2) %>
	<% @low_no_prcnt = @low_no_prcnt.to_s + "%" %> 

	<% @against_percentage = (@against_percentage * 100).round(2) %>
	<% @with_percentage = (@with_percentage * 100).round(2) %>
	<% @no_percentage = (@no_percentage * 100).round(2) %>
	
	<div style="margin-top: 3%; margin-bottom: 3%;">AGAINST WIN PERCENTAGE: <%= @against_percentage.to_s + "%" %>

		<div> LOW - AG: <%= @low_ag_prcnt + " " + "(" + @low_ag_wins.to_s + " - " + @low_ag_losses.to_s + ")"  %></div>
		<div> high - AG: <%= @high_ag_prcnt  + " " + "(" + @high_ag_wins.to_s + " - " + @high_ag_losses.to_s + ")"   %></div>
		

	</div>

	<div style="margin-top: 3%; margin-bottom: 3%;">WITH WIN PERCENTAGE: <%= @with_percentage.to_s + "%" %>

		<div> LOW - WIT: <%= @low_wit_prcnt + " " + "(" + @low_wit_wins.to_s + " - " + @low_wit_losses.to_s + ")"   %></div>
		
		<div> high - WIT: <%= @high_wit_prcnt + " " + "(" + @high_wit_wins.to_s + " - " + @high_wit_losses.to_s + ")"   %></div>

	</div>
	
	<div style="margin-top: 10px; margin-bottom: 10px;">NONE WIN PERCENTAGE: <%= @no_percentage.to_s + "%" %>
		
		<div> LOW - NO: <%= @low_no_prcnt + " " + "(" + @low_no_wins.to_s + " - " + @low_no_losses.to_s + ")"  %></div>
		
		<div> high - NO: <%= @high_no_prcnt + " " + "(" + @high_no_wins.to_s + " - " + @high_no_losses.to_s + ")" %></div>


	</div>

	<div style="margin-top: 10px; margin-bottom: 10px;">TOTALS WIN PERCENTAGE: <%= @totals_prcnt %>
		
		<div class = "total_heading"> ALL OVERS PLAYS: <%= @overs_prcnt + " " + @overs_record %>
			
			<div class = "total_stats"> OVR-AG: <%= @over_ag_prcnt + " " + @over_ag_record %></div>
			
			<div class = "total_stats"> OVR-WIT: <%= @over_wit_prcnt + " " + @over_wit_record %></div>
			
			<div class = "total_stats"> OVR-NO: <%= @over_no_prcnt + " " + @over_no_record %></div>



		</div>
		
		<div class = "total_heading"> UNDERS: <%= @unders_prcnt + " " + @unders_record %>
		
		

			<div class = "total_stats"> UND-AG: <%= @under_ag_prcnt + " " + @under_ag_record %></div>
			<div class = "total_stats"> UND-WIT: <%= @under_wit_prcnt + " " + @under_wit_record %></div>
			<div class = "total_stats"> UND-NO: <%= @under_no_prcnt + " " + @under_no_record %></div>

		</div>

		<div class = "total_heading"> SIDES: <%= @s_prcnt + " " + @s_record %>
		
		

			<div class = "total_stats"> S/D: <%= @sides_sd_prcnt + " " + @sides_sd_record %>
				
				<div class = "total_stats"> SD/AG: <%= @sides_sd_ag_prcnt + " " + @sides_sd_ag_record %></div>
				
				<div class = "total_stats"> SD/WIT <%= @sides_sd_wit_prcnt + " " + @sides_sd_wit_record %></div>

				<div class = "total_stats"> SD/NO <%= @sides_sd_no_prcnt + " " + @sides_sd_no_record %></div>

				<div class = "total_stats"> SIDE/DOGS <%= @side_dog_prcnt + " " + @side_dog_record %></div>

				<div class = "total_stats"> SIDE/FAVS <%= @side_fav_prcnt + " " + @side_fav_record %></div>

			</div>

		</div>


	</div>






<% end %>

<% @hi = "hi" %>





