<% @winners = [] %>
<% @losers = [] %>
<% @update = [] %>
<% @complete = [] %>
<% @against_moves = [] %>
<% @with_moves = [] %>
<% @no_moves = [] %>
<% @ag_wins = 0 %>
<% @ag_losses = 0 %>
<% @wit_wins = 0 %>
<% @wit_losses = 0 %>
<% @against_percentage %>
<% @with_percentage %>

<% if current_user.admin == true %>

	<div id="pick_form">
	
		<%= form_for @pick do |p| %>

			<div>Sport: <%= p.text_field :sport %></div>
		 	<div>Type: <%= p.text_field :cat %></div>
		 	<div>Pick: <%= p.text_field :pick %></div>
		 	<div>Line: <%= p.text_field :line %></div>
		 	<div>Reason: <%= p.text_field :reason %></div>
		 	<div>Line Movement: <%= p.text_field :line_movement %></div>
		 	<div>Consensus: <%= p.text_field :consensus %></div>
		 	<div>Result: <%= p.text_field :result %></div>
		 	<%= p.submit %>



		<% end %>

	</div>

	<% @picks.all.each do |p| %>

		<% if p.result.length == 0 %>

			<% @update.push(p) %>

		<% else %>

			<% @complete.push(p) %>

		<% end %>


	<% end %>

	UPDATE PICKS

	<% @update.each do |u| %>

		<% info = u.pick + " " + u.line %>

		<div><%= link_to info, edit_pick_path(u.id) %></div>

	<% end %>




	<% @complete.each do |c| %>

		<% if c.line_movement == "against" %>

			<% @against_moves.push(c) %>

		<% elsif c.line_movement == "with" %>

			<% @with_moves.push(c) %>


		<% elsif c.line_movement == "none" %>

			<% @no_moves.push(c) %>


		<% end %>

	<% end %>

	<% @against_moves.each do |a| %>

		<% if a.result == "win" %>

			<% @ag_wins += 1 %>


		<% elsif a.result == "loss" %>

			<% @ag_losses += 1 %>


		<% end %>

	<% end %>

	<% @with_moves.each do |a| %>

		<% if a.result == "win" %>

			<% @wit_wins += 1 %>


		<% elsif a.result == "loss" %>

			<% @wit_losses += 1 %>


		<% end %>

	<% end %>

	<% @against_percentage = @ag_wins / (@ag_wins + @ag_losses) %>
	<% @with_percentage = @wit_wins / (@wit_wins + @wit_losses) %>

	<% @against_percentage = @against_percentage * 100 %>
	<% @with_percentage = @with_percentage * 100 %>
	
	<div>AGAINST WIN PERCENTAGE: <%= @against_percentage.to_s + "%" %></div>

	<div>WITH WIN PERCENTAGE: <%= @with_percentage.to_s + "%" %></div>






<% end %>



