<!DOCTYPE html>
<html>
  <head>
    <title>CommunityCapper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="link_cont">

    
      <div class="nav_links"> <%= link_to "Sign Up", new_user_registration_path, class: 'link_tabs'  %></div>

     </div>

    

    <div id="admin_panel">

      <% if current_user %>

        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'link_tabs'  %></div>

        <% if current_user.admin == true %>

        	
        	<%= link_to "SEARCH", users_search_path %>
          <%= link_to "NEW MATCHUP", new_matchup_path %>
        	<%= link_to "New Tag", new_tag_path %>
          <%= link_to "New Team", new_team_path %>
          <%= link_to "All Teams", teams_path %>
          <%= link_to "All Matchups", matchups_path %>
          <%= link_to "MAKE PICKS", picks_path %>
          <%= link_to "PITCHER RATINGS", mlb_game_logs_path %>
          <%= link_to "CFB TEAMS", cfb_game_logs_path %>
          <%= link_to "NFL TEAMS", nfl_game_logs_path %>
        	<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'link_tabs'  %></div>

          <div><div class="nav_links"><%= link_to "STATS BY MATCHUPS", matchups_path %></div>
       
       <div class="nav_links"> <%= link_to "NL OVERVIEW", team_stats_path %></div>
      
      
       <div class="nav_links"><%= link_to "NL TEAMS LAST THREE", team_last_three_path %></div>
       
       <div class="nav_links"><%= link_to "NL TEAMS LAST TEN", team_last_ten_path %></div>
       
       <div class="nav_links"><%= link_to "NL TEAMS LAST THIRTY", team_last_thirty_path %></div>

       <div class="nav_links"><%= link_to "PITCHER RATINGS", mlb_game_logs_path %></div></div>

        <% end %>

      <% end %>
    </div>

  <%= yield %>
  </body>
</html>

<div class="team_stats" id="right_border">
      
      <div class="stat_banner"><%= @nfl_fav.team_name.upcase + " ATS (" + @fav_record + ")" %></div>
      
      <div class="edit_div">
        
        <div class="stat_header">TENDENCIES: <%= @fav_run_percentage.to_s + "% RUN / " %> <%= @fav_pass_percentage.to_s + "% PASS" %>  </div>
        <div class="stat_header">RUSH YARDS/GAME: <%= @fav_rush_for.to_s + " (Ranking: " + @fav_rush_pos.to_s + ")" %> </div>
        <div class="stat_header">PASS YARDS/GAME: <%= @fav_pass_for.to_s + " (Ranking: " + @fav_pass_pos.to_s + ")" %> </div>
        <div class="stat_header">PLAYS/GAME: <%= @fav_plays_for.to_s + " (Ranking: " + @fav_plays_for_pos.to_s + ")" %> </div>
        <div class="stat_header">SACKS GIVEN UP/GM: <%= @fav_sacks_ag.to_s + " (Ranking: " + @fav_sacks_ag_pos.to_s + ")" %> </div>
        <div class="stat_header">SCORING PLAYS/GAME: <%= @fav_sc_pl_for.to_s + " (Ranking: " + @fav_sc_pl_for_pos.to_s + ")" %> </div>

      </div>

      <div class="stat_header">POINT DIFFERENTIAL: <%= @fav_score_diff.to_s + " (Ranking: " + @fav_score_diff_pos.to_s + ")" %>   </div>

      <div class="edit_div" style="margin-top: 5%;">

        <div class="stat_header">OPP TENDENCIES: <%= @fav_run_ag_percentage.to_s + "% RUN / " %>  <%= @fav_pass_ag_percentage.to_s + "% PASS" %> </div>
        <div class="stat_header">RUSH YARDS AG/GAME: <%= @fav_rush_ag.to_s + " (Ranking: " + @fav_rush_ag_pos.to_s + ")" %> </div>
        <div class="stat_header">PASS YARDS AG/GAME: <%= @fav_pass_ag.to_s + " (Ranking: " + @fav_pass_ag_pos.to_s + ")" %> </div>
        <div class="stat_header">PLAYS AG/GAME:  <%= @fav_plays_ag.to_s + " (Ranking: " + @fav_plays_ag_pos.to_s + ")" %> </div>
        <div class="stat_header">PLUS/MINUS: <%= @fav_pl_min.to_s + " (Ranking: " + @fav_pl_min_pos.to_s + ")" %> </div>
        <div class="stat_header">SACKS/GM: <%= @fav_sacks_for.to_s + " (Ranking: " + @fav_sacks_for_pos.to_s + ")" %> </div>
        <div class="stat_header">SCORING PLAYS AG/GM: <%= @fav_sc_pl_ag.to_s + " (Ranking: " + @fav_sc_pl_ag_pos.to_s + ")" %> </div>

      </div>


    </div>
    


    <div class="team_stats" id="left_border">
      
      <div class="stat_banner"><%= @nfl_dog.team_name.upcase + " ATS (" + @dog_record + ")"%></div>

      <div id="center_div" style="margin-left: 10%;">

        <div class="edit_div">

          <div class="stat_header">TENDENCIES: <%= @dog_run_percentage.to_s + "% RUN / " %> <%= @dog_pass_percentage.to_s + "% PASS" %> </div>
          <div class="stat_header">RUSH YARDS/GAME: <%= @dog_rush_for.to_s + " (Ranking: " + @dog_rush_pos.to_s + ")" %> </div>
          <div class="stat_header">PASS YARDS/GAME: <%= @dog_pass_for.to_s + " (Ranking: " + @dog_pass_pos.to_s + ")" %> </div>
          <div class="stat_header">PLAYS/GAME: <%= @dog_plays_for.to_s + " (Ranking: " + @dog_plays_for_pos.to_s + ")" %> </div>
          <div class="stat_header">SACKS GIVEN UP/GM: <%= @dog_sacks_ag.to_s + " (Ranking: " + @dog_sacks_ag_pos.to_s + ")" %> </div>
          <div class="stat_header">SCORING PLAYS/GAME: <%= @dog_sc_pl_for.to_s + " (Ranking: " + @dog_sc_pl_for_pos.to_s + ")" %> </div>

        </div>



        <div class="stat_header">POINT DIFFERENTIAL: <%= @dog_score_diff.to_s + " (Ranking: " + @dog_score_diff_pos.to_s + ")" %>  </div>

        <div class="edit_div" style="margin-top: 5%;">

          <div class="stat_header">OPP TENDENCIES: <%= @dog_run_ag_percentage.to_s + "% RUN / " %>  <%= @dog_pass_ag_percentage.to_s + "% PASS" %> </div>
          <div class="stat_header">RUSH YARDS AG/GAME: <%= @dog_rush_ag.to_s + " (Ranking: " + @dog_rush_ag_pos.to_s + ")" %> </div>
          <div class="stat_header">PASS YARDS AG/GAME: <%= @dog_pass_ag.to_s + " (Ranking: " + @dog_pass_ag_pos.to_s + ")" %> </div>
          <div class="stat_header">PLAYS AG/GAME: <%= @dog_plays_ag.to_s + " (Ranking: " + @dog_plays_ag_pos.to_s + ")" %> </div>
          <div class="stat_header">PLUS/MINUS: <%= @dog_pl_min.to_s + " (Ranking: " + @dog_pl_min_pos.to_s + ")" %> </div>
          <div class="stat_header">SACKS/GM: <%= @dog_sacks_for.to_s + " (Ranking: " + @dog_sacks_for_pos.to_s + ")" %> </div>
          <div class="stat_header">SCORING PLAYS AG/GM: <%= @dog_sc_pl_ag.to_s + " (Ranking: " + @dog_sc_pl_ag_pos.to_s + ")" %> </div>

        </div>

      </div>

      


    </div>

    

  </div>
