<!DOCTYPE html>
<html>
  <head>
    <title>CommunityCapper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    

    <%= link_to "Sign Up", new_user_registration_path, class: 'link_tabs'  %>

    <%= link_to "NL MATCHUPS", matchups_path %>

    <% if current_user %>

      <% if current_user.admin == true %>

      	<%= link_to "Sign Up", new_user_registration_path, class: 'link_tabs'  %>
      	<%= link_to "SEARCH", users_search_path %>
        <%= link_to "NEW MATCHUP", new_matchup_path %>
      	<%= link_to "New Tag", new_tag_path %>
        <%= link_to "New Team", new_team_path %>
        <%= link_to "All Teams", teams_path %>
        <%= link_to "All Matchups", matchups_path %>
      	<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'link_tabs'  %></div>

      <% end %>

    <% end %>

  <%= yield %>
  </body>
</html>
